<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
             <span >{{$ctrl.title}}</span>
            <!--<span ng-show="!$ctrl.isUserAdmin">{{$ctrl.title}} - {{$ctrl.practice.name}}</span>-->
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-responsive table-condensed">
            <thead>
                <tr>
                    <th>Patient Name</th>
                    <th>Phase</th>
                    <th>Issue</th>
                    <th>Last Notification</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody ng-repeat="patient in $ctrl.patientsOutOfCompliance">
                <tr>
                    <td>{{patient.patientName}}</td>
                    <td>{{patient.phaseName}}</td>
                    <td>{{patient.issue}}</td>
                    <td>{{patient.lastContactDate | date: 'shortDate'}}</td>
                    <td><a ng-show="patient.issue=='Survey Missing'" class="btn btn-primary btn-sm">Send</a>
                    <a ng-show="patient.issue=='Incomplete'" class="btn btn-warning btn-sm">Complete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>