﻿<div class="container-fluid content test">
    <div class="row" style="padding-left:0px;">
        <div ng-class="$ctrl.standardComponentSize">
            <div class="panel panel-warning">
                <div class="panel-body text-center">
                    <span style="font-size:1.1em">Appointments next week <span class="badge">{{$ctrl.patientsScheduled}}</span></span>
                </div>
            </div>
        </div>
        <div ng-class="$ctrl.standardComponentSize">
            <div class="panel panel-danger">
                <div class="panel-body text-center">
                    <span style="font-size:1.1em">{{$ctrl.patientsUnderBundleTitle}}<span class="badge">{{$ctrl.patientsUnderBundleCount}}</span></span>
                </div>
            </div>
        </div>
        <div ng-class="$ctrl.standardComponentSize">
            <div class="panel panel-info">
                <div class="panel-body text-center">
                    <span style="font-size:1.1em">Patients out of compliance <span class="badge">2</span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-left">
        <div ng-class="$ctrl.standardComponentSize">
            <os-case-activity-chart></os-case-activity-chart>
        </div>

        <div ng-class="$ctrl.standardComponentSize">
            <os-patient-phase-count chartType="bar"></os-patient-phase-count>
        </div>
        <div ng-class="$ctrl.standardComponentSize">
            <os-knee-balance-data chartType2="line"></os-knee-balance-data>
        </div>
        <div ng-class="$ctrl.standardComponentSize">
            <os-mean-change-in-prom-score></os-mean-change-in-prom-score>
        </div>

        <div ng-class="$ctrl.standardComponentSize" ng-if="!$ctrl.isAdmin">
            <os-patients-under-bundle></os-patients-under-bundle>
        </div>

        <div ng-class="$ctrl.standardComponentSize" ng-if="!$ctrl.isAdmin">
            <os-scheduled-patients></os-scheduled-patients>
        </div>
        <div ng-class="$ctrl.standardComponentSize" ng-if="!$ctrl.isAdmin">
            <os-patients-out-of-compliance></os-patients-out-of-compliance>
        </div>
        <div ng-class="$ctrl.standardComponentSize" ng-if="!$ctrl.isAdmin"></div>
        <div ng-class="$ctrl.standardComponentSize" ng-if="!$ctrl.isAdmin"></div>


    </div>
    <!--<div class="row">
        <os-patient-list-filter></os-patient-list-filter>
    </div>-->

</div>


<!--<div class="row"  style="padding-left:0px;">
		<div class="col-sm-12">

			<div class="row" ng-show="$ctrl.isUserAdmin" style="padding-bottom:10px;">
				<div class="col-sm-2 col-sm-offset-10">
					<label for="itemsAcrossPage"># Items Across</label>
					<select name="itemsAcrossPage" id="itemsAcrossPage" ng-model="$ctrl.noOfItems" ng-change="$ctrl.setNoOfCharts()">
						<option value=1>1</option>
						<option value=2>2</option>
						<option value=3>3</option>
						<option value=4>4</option>
						<option value=5>5</option>
						<option value=6>6</option>
					</select>
				</div>
			</div>
		</div>
	</div>-->