<div class="row row-separator">
	<div class="row-title">
		<h4>Survey</h4>
	</div>
	<!-- / .row-title -->
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12 col-sm-2 col-sm-offset-0" ng-repeat="survey in $ctrl.surveys">
				<div class="panel panel-default">
					<div class="panel-body text-center">
						<div style="vertical-align: middle;">
							<!--<i class="glyphicon glyphicon-file"></i>-->
							<h5>{{survey.Name__c}}</h5>
						</div>

						<div class="">
							<div style="vertical-align: middle;">
								<span class="text-center" style="font-weight:700;" ng-show="survey.Completed==true">Completed: {{survey.EndDate |  date:'shortDate'}}</span>
							</div>
						</div>
						<div class="">
							<button type="button" class="btn btn-os btn-info btn-block" style="margin-bottom:6px;" ng-click="$ctrl.sendQRCode($ctrl.escapeURL(survey.Survey_URL__c))">
                        <span>Send Survey</span> 
						<i class="glyphicon glyphicon-send"></i>
            			</button>
						</div>
						<div class="">
							<button type="button" class="btn btn-os btn-os-primary btn-block" style="margin-bottom:6px;" ng-click="$ctrl.openQRCode($ctrl.escapeURL(survey.Survey_URL__c))">
                        <span>{{survey.Completed==true ? 'Retake Survey' : 'Take Survey'}}</span> 
						<i class="icon icon-c-stats"></i>
            			</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--<div class="row">
					<div class="col-sm-6">
						<div style="vertical-align: middle;">
							<i class="glyphicon glyphicon-file"></i>
							<span>{{survey.Name__c}}</span>
						</div>
					</div>
					<div class="col-sm-3">
						<div style="vertical-align: middle;">
							<span class="text-center" style="padding-left:20px; font-weight:700;" ng-show="survey.Completed==true">Completed on: {{survey.EndDate |  date:'shortDate'}}</span>
						</div>
					</div>
					<div class="col-sm-3">
						<button type="button" class="btn btn-os btn-os-primary pull-right" style="margin-bottom:6px;" 
						ng-click="$ctrl.openQRCode($ctrl.escapeURL(survey.Survey_URL__c))">
                        <span>{{survey.Completed==true ? 'Retake Survey' : 'Take Survey'}}</span> 
						<i class="icon icon-c-add"></i>
            			</button>
					</div>
				</div>-->