$search-inactiveBackground: #787878;
$search-width:120px;
$search-borderColor:#109bd6;
$background-color: #dfe4e4;// #f7f9f8;
$wizard-warning-background-color: #f5590c;
$button-background-color: white;
$header-height: 60px;
$th-background-color: #109bd6;
$th-color: white; 
$sidebar-background: #efecec ;
$header-background-gradient: linear-gradient(to right, #61717a 0%, #61717a 70px, #dfe4e4 70px, #dfe4e4 100%);
$panel-background-color : #109bd6;
$wizard-radius: 5px;
$wizard-background-completed: #b1b9bd;
$required-label: #cf0a2c;

$darkblue: #091F40;
$lightgray: #9FA1A4;
$lightblue: #109AD6;
$darkgray: #565759;

$dark: #303032;
$light: #EFEEED;
$anotherGray: #C2D4D9;
$yellow: #FFCE40;

$panel-warning-background: #091F40;

