<div class="modal-header">
    <button type="button" class="btn btn-os close" aria-label="Close" ng-click="cancel()">
        <i class="icon icon-close"></i>
    </button>
    <h4 class="modal-title">Edit Patient</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="pageForm">
        <div class="row">
            <div class="col-xs-12 col-md-5">
                <fieldset>
                    
                    <div class="form-group">
                        <label for="new-patient-anonymous" class="col-sm-4 control-label">Is Anonymous</label>
                        <div class="col-sm-8">
                            <input type="checkbox" id="new-patient-anonymous" class="show" style="height:20px;" name="Anonymous" ng-model="patient.anonymous" />
                        </div>
                    </div><!-- / .form-group -->
                    
                    <div class="form-group" ng-class="{ 'has-error' : pageForm.Label.$invalid && pageForm.submitted}" ng-show="patient.anonymous">
                        <label for="new-patient-label" class="col-sm-4 control-label required">Patient Label</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="new-patient-label" name="Label" ng-model="patient.Label" ng-required="patient.anonymous" />
                            <div ng-messages="pageForm.Label.$error" ng-if="pageForm.submitted">
                                <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Patient Label is required.</p>
                            </div>
                        </div>
                    </div><!-- / .form-group -->
                    
                    <div class="form-group" ng-class="{ 'has-error' : pageForm.FirstName.$invalid && pageForm.submitted}" ng-show="!patient.anonymous">
                        <label for="new-patient-first-name" class="col-sm-4 control-label required">First Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="new-patient-first-name" name="FirstName" ng-model="patient.FirstName" ng-required="!patient.anonymous" />
                            <div ng-messages="pageForm.FirstName.$error" ng-if="pageForm.submitted">
                                <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Patient First Name is required.</p>
                            </div>
                        </div>
                    </div><!-- / .form-group -->
                    
                    <div class="form-group"  ng-class="{ 'has-error' : pageForm.LastName.$invalid && pageForm.submitted}" ng-show="!patient.anonymous">
                        <label for="new-patient-last-name" class="col-sm-4 control-label  required" >Last Name</label>
                        <div class="col-sm-8" >
                            <input type="text" class="form-control" id="new-patient-last-name" name="LastName" ng-model="patient.LastName"  ng-required="!patient.anonymous" />
                            <div ng-messages="pageForm.LastName.$error" ng-if="pageForm.submitted">
                                <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Patient Last Name is required.</p>
                            </div>                      
                            
                        </div>
                    </div><!-- / .form-group -->
                    <div class="form-group"  ng-class="{ 'has-error' : pageForm.newPatientSex.$invalid && pageForm.submitted}">
                        <label for="new-sex-name" class="col-sm-4 control-label  required">Sex</label>
                        <div class="col-sm-8">
                            <input type="radio" name="newPatientSex" id="new-patient-sex-male" value="M" ng-model="patient.Gender"  required="true" /><label for="new-patient-sex-male">Male</label>
                            <input type="radio" name="newPatientSex" id="new-patient-sex-female" value="F" ng-model="patient.Gender"  required="true" /><label for="new-patient-sex-female">Female</label>
                            <div ng-messages="pageForm.newPatientSex.$error" ng-if="pageForm.submitted">
                                <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Patient Sex is required.</p>
                            </div>                      
                            
                            
                        </div>
                    </div><!-- / .form-group -->
                </fieldset>
                <fieldset>
                    <div class="form-group"  ng-class="{ 'has-error' : pageForm.DateofBirthString.$invalid && pageForm.submitted}" ng-if="!patient.anonymous">
                        <label for="new-patient-dob" class="col-sm-4 control-label  required">Birthdate</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="DateofBirthString" placeholder="MM/DD/YYYY" style="background-color:white; width:150px;height:38px;margin-left:-2px;" datetime-picker="MM/dd/yyyy" enable-time="false" ng-model="patient.DateofBirthString" is-open="open.birthDate" datepicker-options="dateOptions" ng-required="!patient.anonymous" close-text="Close" ng-click="open($event,'birthDate')" />  
                            <button type="button" class="btn btn-os" ng-click="open($event,'birthDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                            <div ng-messages="pageForm.DateofBirthString.$error" ng-if="pageForm.submitted">
                                <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Patient Birthdate is required.</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group"  ng-class="{ 'has-error' : pageForm.BirthYear.$invalid && pageForm.submitted}" ng-show="patient.anonymous">
                        <label for="new-patient-dob" class="col-sm-4 control-label  required">Birth Year</label>
                        <div class="col-sm-2">
                            <div class="select">
                                <select id="patient-birth-year" ng-model="patient.BirthYear" ng-required="patient.anonymous" name="BirthYear" style="padding-left:8px;">
                                    <option ng-repeat="year in birthYears" value="{{year}}">{{year}}</option>
                                </select> 
                            </div><!-- / .select -->
                            <div ng-messages="pageForm.BirthYear.$error" ng-if="pageForm.submitted">
                                <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Patient Birth Year is required.</p>
                            </div>
                        </div>
                    </div><!-- / .form-group -->
                    
                    <!--div class="form-group">
                        <label for="new-patient-height" class="col-sm-4 control-label">Height</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control small" id="new-patient-height" />
                            <input type="radio" name="new-patient-height" id="new-patient-height-cm" value="new-patient-height-cm" /><label for="new-patient-height-cm">cm</label>
                            <input type="radio" name="new-patient-height" id="new-patient-height-in" value="new-patient-height-in" /><label for="new-patient-height-in">in</label>
                        </div>
                    </div><!-- / .form-group -->
                    <!--div class="form-group">
                        <label for="new-patient-weight" class="col-sm-4 control-label">Weight</label>
                        <div class="col-sm-8">
                            <input type="email" class="form-control small" id="new-patient-weight" />
                            <input type="radio" name="new-patient-weight" id="new-patient-weight-kg" value="new-patient-weight-kg" /><label for="new-patient-weight-kg">kg</label>
                            <input type="radio" name="new-patient-weight" id="new-patient-weight-lb" value="new-patient-weight-lb" /><label for="new-patient-weight-lb">lb</label>
                        </div>
                    </div><!-- / .form-group -->
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label for="new-patient-race" class="col-sm-4 control-label">Race</label>
                        <div class="col-sm-8">
                            <div class="select">
                                <select id="new-patient-race" ng-model="patient.Race">
                                    <option>White</option>
                                    <option>Black or African American</option>
                                    <option>American Indian</option>
                                    <option>Asian</option>
                                    <option>Native Hawaiian</option>
                                    <option>Hispanic</option>
                                    <option>Other</option>
                                </select>
                            </div>
                        </div>
                    </div><!-- / .form-group -->
                    <div class="form-group">
                        <label for="new-patient-language" class="col-sm-4 control-label">Language</label>
                        <div class="col-sm-8">
                            <div class="select">
                                <select id="new-patient-language" ng-model="patient.Language">
                                    <option>English</option>
                                    <option>Spanish</option>
                                    <option>French</option>
                                    <option>Chinese</option>
                                    <option>Creole</option>
                                    <option>Unknown</option>
                                    <option>Russian</option>
                                    <option>Portuguese</option>
                                </select>
                            </div>
                        </div>
                    </div><!-- / .form-group -->
                </fieldset>
            </div>
            <div class="col-xs-12 col-md-7">
                
                <fieldset>
                    <div class="form-group">
                        <label for="new-patient-number" class="col-sm-4 control-label">Patient #</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="new-patient-number" ng-model="patient.PatientNumber"/>
                        </div>
                    </div><!-- / .form-group -->
                    
                    <div class="form-group"  ng-class="{ 'has-error' : pageForm.MedicalRecordNumber.$invalid && pageForm.submitted}">
                        <label for="new-patient-medical-record-number" class="col-sm-4 control-label" ng-class="!patient.anonymous?'required':''">Medical Record #</label>
                        <div class="col-sm-8">
                            <input type="text" ng-required="!patient.anonymous" name="MedicalRecordNumber" class="form-control" id="new-patient-medical-record-number" ng-model="patient.MedicalRecordNumber"/>
                            <div ng-messages="pageForm.MedicalRecordNumber.$error" ng-if="pageForm.submitted">
                                <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Patient Medical Record # is required.</p>
                            </div>    
                        </div>
                    </div><!-- / .form-group -->
                    
                    <div class="form-group">
                        <label for="new-patient-account-number" class="col-sm-4 control-label">Account #</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="new-patient-account-number" ng-model="patient.AccountNumber"/>
                        </div>
                    </div><!-- / .form-group -->
                    
                    <div class="form-group">
                        <label for="new-patient-ss-number" class="col-sm-4 control-label">Social Security #</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="new-patient-ss-number" ng-model="patient.SocialSecurityNumber"/>
                        </div>
                    </div><!-- / .form-group -->
                </fieldset>
                <fieldset>
                    <!--div class="form-group">
                        <label for="new-patient-primary-diagnosis" class="col-sm-4 control-label">Primary Diagnosis</label>
                        <div class="col-sm-8">
                            <div class="select">
                                <select id="new-patient-primary-diagnosis">
                                    <option>Primary Diagnosis</option>
                                </select>
                            </div>
                        </div>
                    </div><!-- / .form-group -->
                    <!--div class="form-group">
                        <label for="new-patient-secondary-diagnosis" class="col-sm-4 control-label">Secondary Diagnosis</label>
                        <div class="col-sm-8">
                            <div class="select">
                                <select id="new-patient-secondary-diagnosis">
                                    <option>Secondary Diagnosis</option> 
                                </select>
                            </div>
                        </div>
                    </div><!-- / .form-group -->
                </fieldset>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer" ng-if="!matchedPatient">
    <button type="button" class="btn btn-os btn-os-primary" ng-click="cancel()">
        <span>Cancel</span>
    </button>
    <button type="button" class="btn btn-os btn-os-default ladda-button" data-style="zoom-in" data-spinner-color="White" ng-click="updatePatient()">
        <span>Save</span>
    </button>
    <script>Ladda.bind('.modal-footer button');</script>
</div>

