<div class="panel panel-default">
    <div class="panel-heading">
        <div class="col-xs-6">
            <h3 class="panel-title">{{$ctrl.title}}</div>
        <div class="col-xs-2"></div>
        <div class="col-xs-4">
            <select id="daysInFuture" class="form-control" ng-model=$ctrl.period ng-change="$ctrl.changePeriod()">
                <option selected value='7'>one week</option>
                <option value='14'>two weeks</option>
                <option value='30'>1 month</option>
                <option value='60'>60 days</option>
                <option value='90'>90 days</option>
            </select>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body" style="height: 300px; overflow: auto;">

        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Procedure Date</th>
                    <th>Physician</th>
                    <th>Laterality</th>
                </tr>
            </thead>
            <tbody ng-repeat="patient in $ctrl.patients | orderBy: 'procedureDate'">
                <tr>
                    <td>
                        <a ng-show="!patient.isAnonymous" ng-click="$ctrl.patientDetails(patient)">{{patient.lastName}}, {{patient.firstName}}</a>
                        <a ng-show="patient.isAnonymous" ng-click="$ctrl.patientDetails(patient)">{{patient.anonymousLabel}}</a>
                    </td>
                    <td ng-show="!patient.isAnonymous">
                        {{patient.dateOfBirth | date: 'shortDate'}}
                    </td>
                    <td ng-show="patient.isAnonymous">
                        {{patient.birthYear}}
                    </td>
                    <td>
                        {{patient.procedureDate | date: 'shortDate'}}
                    </td>
                    <td>
                        {{patient.surgeonName}}
                    </td>
                    <td>
                        {{patient.laterality}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>