#background, #header, #header #view-header .drawer {
  background: -webkit-linear-gradient(left, #61717a 0%, #61717a 70px, #dfe4e4 70px, #dfe4e4 100%);
  background: linear-gradient(to right, #61717a 0%, #61717a 70px, #dfe4e4 70px, #dfe4e4 100%); }

.filter, .filter .dropdown,
.filter .filter-labels, .display-inline-block {
  display: inline-block; }

#header, #header #view-header .drawer {
  box-shadow: inset 0px -14px 9px -12px rgba(0, 0, 0, 0.5); }

.dark-theme {
  background-color: #787878;
  color: white; }

.dark-theme h4,
.dark-theme .btn-os:not(.btn-os-primary) {
  color: inherit !important; }

.dark-theme .row.row-separator {
  border-top-color: white;
  margin-left: 8px;
  margin-right: 8px; }

.date-stamp {
  color: black; }

[disabled],
.disabled {
  cursor: default !important;
  opacity: 0.6; }

@font-face {
  font-family: "orthosensor";
  src: url("../fonts/orthosensor/fonts/orthosensor.eot");
  src: url("../fonts/orthosensor/fonts/orthosensor.eot?#iefix") format("embedded-opentype"), url("../fonts/orthosensor/fonts/orthosensor.woff") format("woff"), url("../fonts/orthosensor/fonts/orthosensor.ttf") format("truetype"), url("../fonts/orthosensor/fonts/orthosensor.svg#orthosensor") format("svg");
  font-weight: normal;
  font-style: normal; }

*, *:before, *:after {
  box-sizing: inherit; }

html,
body {
  background-color: transparent;
  color: #787878;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin: 0;
  min-height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  padding: 0; }

html {
  box-sizing: border-box; }

a {
  color: #109bd6;
  cursor: pointer;
  text-decoration: none; }

h1 {
  font-size: 2rem;
  font-weight: 100;
  font-family: 'Open Sans', Sans-Serif; }

h4 {
  color: black; }

#background {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1; }

#header {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2; }

#header > button,
#header > div {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-positive: 0;
  -webkit-box-flex: 0;
          flex-grow: 0;
  height: 60px; }

#header #logo {
  -ms-flex-positive: 0;
  -webkit-box-flex: 0;
          flex-grow: 0;
  margin-left: -15px;
  padding-left: 15px;
  width: 80px; }

#header #logo svg {
  height: 60px;
  width: 35px; }

#header #logo path {
  fill: #57b7fb; }

#header #view-header {
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1; }

#header #view-header h1 {
  color: black;
  margin: 0; }

#header #view-header .navigation-action {
  font-size: 2rem;
  padding-bottom: 0;
  padding-top: 0; }

#header #view-header .patient-name,
#header #view-header .patient-details {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin-top: 15px; }

#header #view-header .patient-name .case-type {
  color: black;
  font-weight: bold; }

#header #view-header .patient-name h1 {
  line-height: 30px; }

#header #view-header .patient-details {
  position: relative; }

#header #view-header .patient-details .action {
  bottom: 0;
  position: absolute;
  right: 0; }

#header #view-header .form-group {
  margin-top: 10px; }

#header #view-header label {
  padding-top: 0 !important; }

#header #view-header .value {
  margin-top: 0 !important; }

#header #view-header .drawer {
  -webkit-transition: height 0.45s ease-in 0s, margin 0.45s ease-in 0s, padding 0.45s ease-in 0s;
  transition: height 0.45s ease-in 0s, margin 0.45s ease-in 0s, padding 0.45s ease-in 0s;
  height: 0px;
  left: 0;
  margin-top: -10px;
  overflow: hidden;
  position: absolute;
  padding: 0 15px;
  padding-left: 40px;
  right: 0;
  top: 80px; }

#header #view-header .drawer.open {
  height: 60px;
  padding-bottom: 15px;
  padding-top: 15px; }

#header #user-menu {
  font-size: 1.167rem;
  font-weight: bold;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  height: auto;
  margin-left: 15px;
  margin-top: 15px; }

#view-content {
  background-color: white;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  margin-top: 40px;
  width: 100%;
  min-height: 500px;
  z-index: 1; }

.content {
  padding: 20px 10px;
  min-height: 500px; }

.flex {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex; }

.flex > div {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  position: relative; }

.row.row-separator {
  border-top: 1px solid #61717a;
  margin-top: 15px;
  padding-top: 15px; }

.row.row-separator .row-separator {
  border-top: 1px solid #efefef;
  margin-left: 0;
  margin-right: 0; }

.row-title {
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 0 15px; }

.row-title h4 {
  float: left; }

.row-title .btn-os {
  float: right;
  margin-top: -10px; }

.row-title .btn-os + .btn-os {
  margin-right: 10px; }

.row-title .toggle-buttons .btn-os {
  margin-right: 0 !important; }

.row-title + [class*="col-"] > .row.row-separator {
  margin-top: 0; }

.ng-animate.slide {
  transition: opacity 0.45s ease-in 0s, -webkit-transform 0.45s ease-in 0s;
  -webkit-transition: opacity 0.45s ease-in 0s, -webkit-transform 0.45s ease-in 0s;
  transition: opacity 0.45s ease-in 0s, transform 0.45s ease-in 0s;
  transition: opacity 0.45s ease-in 0s, transform 0.45s ease-in 0s, -webkit-transform 0.45s ease-in 0s;
  left: 0;
  position: absolute;
  right: 0; }

.ng-animate.slide#view-header {
  left: 70px; }

.ng-animate.slide.ng-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.ng-animate.slide.ng-leave.ng-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0); }

.ng-animate.slide.ng-enter {
  opacity: 0;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0); }

.ng-animate.slide.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0.9s !important;
          transition-delay: 0.9s !important; }

button {
  outline: transparent; }

.btn-os {
  background-color: transparent;
  color: #109bd6; }

.btn-os i {
  color: inherit; }

.btn-os span + i {
  margin-left: 10px; }

.btn-os-large {
  height: 40px;
  padding: 0 20px; }

.btn-os-primary {
  background-color: white;
  border-color: #efefef; }

.btn-os-primary span {
  color: #61717a; }

.btn-os-primary:hover, .btn-os-primary:focus {
  background-color: #cccccc; }

.btn-os-default {
  background-color: #109bd6;
  border-color: #109bd6; }

.btn-os-default span {
  color: white; }

.btn-os-default:hover, .btn-os-default:focus {
  background-color: #095677; }

.btn-os-default:hover span, .btn-os-default:focus span {
  color: white; }

.chart .chart-svg {
  height: 300px;
  margin: 0 -15px 15px;
  padding: 30px 0 0 0; }

.chart .chart-svg svg {
  width: 100%; }

.chart .chart-title-bar {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between; }

.chart .legend input[type="checkbox"] + label {
  -webkit-transition: opacity 0.45s ease-in 0s;
  transition: opacity 0.45s ease-in 0s;
  color: black; }

.chart .legend input[type="checkbox"] + label:before {
  height: 2px;
  margin-top: 0px;
  margin-left: -5px;
  width: 20px; }

.chart .legend input[type="checkbox"] + label:after {
  border-radius: 50%;
  height: 6px;
  left: 10px;
  margin-top: -2px;
  width: 6px; }

.chart .legend input[type="checkbox"]:not(:checked) + label {
  opacity: 0.5; }

.chart .c3-axis-y .tick tspan {
  display: none; }

.chart .c3-axis-y2 .tick {
  display: none; }

.chart .c3-legend-item-force,
.chart .c3-tooltip-name-force,
.chart .c3-target-force {
  display: none; }

.chart .c3-grid line {
  stroke: #efefef !important;
  stroke-dasharray: 0; }

.chart .c3-legend-item {
  -webkit-transform: translateY(-280px);
  transform: translateY(-280px); }

.chart .c3-chart-line:nth-child(1) path {
  stroke: #109bd6 !important; }

.chart .c3-chart-line:nth-child(1) circle {
  fill: #109bd6 !important; }

.chart .c3-legend-item:nth-child(1) line {
  stroke: #109bd6 !important; }

.chart .c3-legend-item:nth-child(1) .c3-legend-item-tile {
  fill: #109bd6 !important; }

.chart .c3-tooltip tr:nth-child(2) span {
  background-color: #109bd6 !important; }

.chart .legend input[type="checkbox"]:nth-of-type(1) + label:before, .chart .legend input[type="checkbox"]:nth-of-type(1) + label:after {
  background-color: #109bd6; }

.chart .c3-chart-line:nth-child(2) path {
  stroke: #04d56b !important; }

.chart .c3-chart-line:nth-child(2) circle {
  fill: #04d56b !important; }

.chart .c3-legend-item:nth-child(2) line {
  stroke: #04d56b !important; }

.chart .c3-legend-item:nth-child(2) .c3-legend-item-tile {
  fill: #04d56b !important; }

.chart .c3-tooltip tr:nth-child(3) span {
  background-color: #04d56b !important; }

.chart .legend input[type="checkbox"]:nth-of-type(2) + label:before, .chart .legend input[type="checkbox"]:nth-of-type(2) + label:after {
  background-color: #04d56b; }

.filter .filter-labels {
  background-color: #f7f9f8;
  border: 1px solid #efefef;
  border-radius: 0 5px 5px 0;
  float: right;
  height: 38px;
  margin-left: -5px; }

.filter .filter-label {
  border-radius: 5px;
  display: inline-block;
  line-height: 2.5em;
  padding: 0 10px;
  margin: 3px 0; }

.filter .filter-label:first-child {
  margin-left: 10px; }

.filter .filter-label:last-child {
  margin-right: 4px; }

.filter .filter-label.date {
  background-color: #57b7fb; }

.filter .filter-label.data-source {
  background-color: #cf0a2c; }

.filter .filter-label.stage {
  background-color: #dfc044; }

.filter .filter-label.surgeon {
  background-color: #82e49e; }

label {
  color: #b1b9bd;
  height: 1.167rem; }

label:after {
  content: ":"; }

label.required:before,
.required label:before {
  color: #cf0a2c;
  content: "*"; }

[ng-invalid] {
  border-color: #cf0a2c !important; }

label + [type="checkbox"] + label,
label + [type="radio"] + label,
input + [type="checkbox"] + label,
input + [type="radio"] + label {
  margin-left: 15px; }

input {
  display: inline-block; }

input[type="email"], input[type="password"], input[type="text"] {
  padding: 0 10px; }

input[type="email"].small, input[type="password"].small, input[type="text"].small {
  width: 80px; }

input[type="checkbox"], input[type="radio"] {
  display: none; }

input[type="checkbox"] + label, input[type="radio"] + label {
  cursor: pointer;
  padding-left: 19px;
  position: relative; }

input[type="checkbox"] + label:before, input[type="checkbox"] + label:after, input[type="radio"] + label:before, input[type="radio"] + label:after {
  content: " ";
  height: 14px;
  left: 0;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  width: 14px;
  z-index: 1; }

input[type="checkbox"] + label:after, input[type="radio"] + label:after {
  z-index: 2; }

input[type="radio"] + label:before, input[type="radio"] + label:after {
  border-radius: 50%; }

input[type="radio"] + label:before {
  border: 1px solid #efefef; }

input[type="radio"] + label:after {
  transition: -webkit-transform 0.45s ease-in 0s;
  -webkit-transition: -webkit-transform 0.45s ease-in 0s;
  transition: transform 0.45s ease-in 0s;
  transition: transform 0.45s ease-in 0s, -webkit-transform 0.45s ease-in 0s;
  border: 5px solid #109bd6;
  margin: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  top: 0; }

input[type="radio"]:checked + label:after {
  -webkit-transform: scale(1);
  transform: scale(1); }

@media screen and (min-width: 768px) {
  .value,
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    margin-top: 7px; } }

.value {
  color: black;
  font-weight: bold;
  display: inline-block; }

.value + label {
  margin-left: 15px; }

.large-search {
  position: relative;
  text-align: right;
  width: 320px; }

.large-search input {
  background-color: #787878;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
  height: 46px;
  outline: transparent;
  width: 320px; }

.large-search input::-webkit-input-placeholder-shown {
  color: #b1b9bd; }

.large-search input::-moz-placeholder-shown {
  color: #b1b9bd; }

.large-search input:-ms-input-placeholder-shown {
  color: #b1b9bd; }

.large-search input::placeholder-shown {
  color: #b1b9bd; }

.large-search input.s-active, .large-search input:focus {
  background-color: white;
  border: 2px solid #109bd6;
  color: #787878; }

.large-search input.s-active ~ button, .large-search input:focus ~ button {
  color: #787878; }

.large-search button {
  color: white;
  font-size: 2rem;
  height: 46px;
  position: absolute;
  right: 0; }

.large-search .suggestions {
  background-color: white;
  border: 2px solid #109bd6;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 10px 10px -4px black;
  list-style: none;
  max-height: 70vh;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  right: 0;
  text-align: left;
  top: 41px;
  width: 320px;
  z-index: 9; }

.large-search .suggestions.multi-sources .title {
  display: block; }

.large-search .suggestions .title {
  cursor: pointer;
  display: none;
  float: left;
  padding: 15px;
  width: 50%; }

.large-search .suggestions .title.active {
  background-color: #109bd6;
  color: white; }

.large-search .suggestions ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%; }

.large-search .suggestions li {
  border-top: 1px solid #efefef;
  list-style: none;
  min-height: 6em;
  padding: 10px; }

.large-search .suggestions i {
  float: right;
  margin: 2px 5px; }

.large-search .suggestions span {
  display: block; }

.large-search .suggestions .matching {
  color: #109bd6; }

.select {
  border: 1px solid #efefef;
  border-radius: 5px;
  min-width: 100px;
  position: relative; }

.select select {
  background: transparent;
  border: 0;
  height: 30px;
  padding-right: 15px;
  width: 100%; }

.select select::-ms-expand {
  display: none; }

.select:before, .select:after {
  content: " ";
  pointer-events: none;
  position: absolute; }

.select:before {
  background: white;
  bottom: 2px;
  right: 2px;
  top: 2px;
  width: 20px;
  z-index: 1; }

.select:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #109bd6;
  right: 10px;
  top: 13px;
  z-index: 1; }

.modal .image-card {
  font-size: 1.5rem; }

.image-card .header {
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between; }

.image-card .header .btn-os {
  color: white;
  margin-right: -12px; }

.image-card img.img-responsive {
  max-height: 150px;
  width: 100%; }

.image-card .details {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex; }

.image-card .block {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  padding: 10px 0;
  text-align: center; }

.image-card .measure-value {
  display: block;
  font-size: 1.5em; }

.image-card .degrees .measure-value:after,
.image-card .rotation .measure-value:after {
  content: "o";
  font-size: 0.8333em;
  vertical-align: super; }

.modal {
  background: rgba(255, 255, 255, 0.75);
  display: table;
  height: 100%;
  opacity: 0;
  position: fixed;
  width: 100%;
  z-index: -1;
  -webkit-transition: opacity 0.45s ease-in 0s, z-index 0.45s ease-in 0s;
  transition: opacity 0.45s ease-in 0s, z-index 0.45s ease-in 0s;
  display: block; }

.modal.in {
  opacity: 1;
  z-index: 999; }

.modal .modal-dialog {
  width: 80%; }

.modal .modal-dialog.modal-small {
  max-width: 400px;
  width: auto; }

.modal .modal-title {
  color: #109bd6; }

.modal h3 {
  margin-top: 0; }

.modal .modal-footer.spread-actions {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between; }

.modal .modal-footer.spread-actions:before, .modal .modal-footer.spread-actions:after {
  display: none; }

.table-os td {
  padding: 8px; }

.table-os td.action {
  padding: 0 !important; }

.table-os .sub-row td {
  background-color: #f7f9f8;
  cursor: pointer; }

.table-os .action {
  text-align: center !important; }

.table-os .action button i {
  font-size: 1.5rem; }

.table-os .select {
  margin-top: -2px; }

.table-os .select:after {
  margin-top: -5px; }

.table-os .select select {
  height: 20px; }

.toggle-view-container {
  margin-top: -15px; }

.wizard-steps {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px; }

.wizard-steps .step {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  margin: 0 1px; }

.wizard-steps .step .box {
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  background-color: #61717a;
  border-radius: 5px;
  color: white;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 60px;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 0 15px;
  position: relative;
  text-align: center;
  width: 100%; }

.wizard-steps .step .box :hover {
  cursor: pointer; }

.wizard-steps .step:first-child, .wizard-steps .step:last-child {
  margin: 0; }

.wizard-steps .step.completed .box {
  background-color: #b1b9bd; }

.wizard-steps .step.completed .date {
  color: black; }

.wizard-steps .step.current .box {
  background-color: #04d56b; }

.wizard-steps .step.warning .box {
  background-color: #f5590c; }

.wizard-steps .step i {
  left: 5px;
  position: absolute;
  top: 5px; }

.wizard-steps .step .title {
  font-size: 1.167rem;
  font-weight: bold; }

.wizard-steps .step .date {
  margin-top: 10px;
  text-align: center; }

.wizard-steps button {
  margin-left: 10px; }

@media screen and (min-width: 769px) {
  .wizard-steps button {
    margin-left: 30px; } }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0; }

.btn-os {
  line-height: 2rem; }

.btn-os.btn-os-primary:hover, .btn-os.btn-os-primary:focus {
  background-color: #109bd6;
  border-color: #109bd6; }

.btn-os.btn-os-primary:hover span, .btn-os.btn-os-primary:focus span {
  color: white; }

.caret {
  border-top-color: #109bd6;
  border-width: 5px; }

.close {
  opacity: 1; }

.container-fluid {
  margin-bottom: 15px; }

.dropdown.clear button {
  background-color: transparent;
  border: 0; }

.form-horizontal.tight-vertically .form-group {
  margin-bottom: 0; }

.form-horizontal.tight-vertically .control-label {
  padding-top: 0; }

.form-horizontal.tight-vertically .value {
  margin-top: 0; }

.form-horizontal .control-label {
  padding-right: 0; }

.form-group .btn-os {
  line-height: 1rem;
  padding-bottom: 0;
  padding-top: 0; }

.form-control {
  display: inline-block !important; }

.icon {
  font-size: 1.167rem;
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.table-os tr:first-child {
  border-top: 0; }

.table-os th {
  background-color: #109bd6;
  border-bottom-width: 0 !important;
  color: white; }

.table-os td {
  border-top: 1px solid #efefef; }

#view-content > .table-os {
  margin-top: 15px; }

#view-content > .table-os th:first-child,
#view-content > .table-os td:first-child {
  padding-left: 15px; }

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
  border: 0; }

label.required:before,
.required label:before {
  color: #cf0a2c;
  content: "* "; }

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373; }

[ng-invalid] {
  border-color: #cf0a2c !important; }

.custom-drop-down {
  display: inline-block;
  position: relative; }

.custom-drop-down .backdrop {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0; }

.custom-drop-down .backdrop:not(.open) {
  display: none; }

.custom-drop-down ul {
  font-size: 14px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left; }

.custom-drop-down ul.level1 {
  background-clip: padding-box;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  display: none;
  left: 0;
  max-height: 50vh;
  min-width: 160px;
  overflow: hidden;
  overflow-y: auto;
  padding: 5px 10px;
  position: absolute;
  top: 100%;
  z-index: 1000; }

.custom-drop-down ul.open {
  display: block; }

.custom-drop-down ul ul {
  border: 0;
  position: relative; }

.custom-drop-down ul li {
  padding: 5px 0;
  position: relative; }

.custom-drop-down ul a {
  width: 100%; }

.custom-drop-down ul i {
  float: right;
  line-height: 1.5em; }

.custom-drop-down ul .fa-check {
  display: none; }

.custom-drop-down ul .active > .fa-check {
  display: block; }

.dropdown-menu .dropdown-menu {
  bottom: 0;
  left: 0;
  overflow: auto;
  right: 0;
  top: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: 0.45s;
  transition: 0.45s;
  z-index: 1; }

.dropdown-menu .dropdown-menu.active {
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.filter .filter-label button {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 1.5em;
  line-height: 1.25em;
  margin-right: -10px; }

.filter .filter-label button .fa {
  float: right;
  margin-bottom: -5px; }

.panel-default .panel-heading {
  background-color: #109bd6;
  color: white; }

.panel {
  font-family: "Open Sans", sans-serif; }
