<div class="row row-separator dark-theme" ng-show="$ctrl.showImages">
	<div class="row-title getData">
		<h4>Intraoperative Data</h4>
		<button type="button" class="btn btn-os btn-os-primary ladda-button retrieve-btn" style="z-index:0" ng-click="$ctrl.getData()" data-style="zoom-in"
			data-spinner-color="DeepSkyBlue">
                        <span>Retrieve Data</span> <i class="icon icon-download-cloud"></i>
                    </button>
	</div>
	<!-- / .row-title -->
	<script>Ladda.bind('.getData button');</script>
	<div class="col-xs-12">
		<div class="row row-separator">
			<div class="col-sm-6 image-card" style="width:340px" 
				ng-repeat="line in $ctrl.sensorDataLines | orderBy : 'SD_MeasurementDate'">
				<div class="header">
					<span class="timne-stamp">{{line.SD_MeasurementDate}}</span>
					<button type="button" class="btn btn-os" ng-click="$ctrl.deleteSensorImage(line)">
                                    <span>Delete Capture</span> <i class="glyphicon glyphicon-remove"></i>
                                </button>
				</div>
				<a href="/servlet/servlet.FileDownload?file={{line.AttachmentID}}" download="ImageName" title="ImageName">
					<img class="img-responsive" src="/servlet/servlet.FileDownload?file={{line.AttachmentID}}" height="160" width="340" />
				</a>
				<div class="details">
					<div class="block degrees">
						<span class="measure-value">{{line.SD_Type_ActualFlex}}</span>
					</div>
					<div class="block lsb-med">
						<span class="measure-value">{{line.SD_Type_MedialLoad}}</span><span class="measure">lbs Med</span>
					</div>
					<div class="block lbs-lat">
						<span class="measure-value">{{line.SD_Type_LateralLoad}}</span><span class="measure">lbs Lat</span>
					</div>
					<div class="block rotation">
						<span class="measure-value">{{line.SD_Type_Rotation}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>