	<div style="padding-left:12px; margin-right:12px;margin-top:12px;">
		<table class="table table-os" ng-if="sourceFilter=='Existing'">
			<thead>
				<tr>
					<th>Name</th>
					<th>DOB</th>
					<th>Sex</th>
					<th>Surgeon</th>
					<th>Case Type</th>
					<th>Procedure Date</th>
					<th class="action">Add a Case</th>
				</tr>
			</thead>
			<tbody ng-repeat="patient in $ctrl.filteredPatients">
				<tr>
                    <td class="action">
						<button type="button" class="btn btn-os" ng-click="$ctrl.addPatientCase(patient)">
                        <i class="icon icon-add-folder"></i>
                    </button>
					</td>
					<td rowspan="99">
						<a ng-click="patientDetails(patient)" ng-show="!patient.Anonymous__c">{{patient.Last_Name__c}}, {{patient.First_Name__c}}</a>
						<a ng-click="patientDetails(patient)" ng-show="patient.Anonymous__c">{{patient.Anonymous_Label__c}} (Anonymous)</a>
					</td>
					<td rowspan="99">
						<span ng-show="!patient.Anonymous__c">{{patient.Date_Of_Birth__c | date: 'shortDate'}}</span>
						<span ng-show="patient.Anonymous__c">{{patient.Anonymous_Year_of_Birth__c}}</span>
					</td>
					<td rowspan="99">
						{{patient.Gender__c}}
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					
				</tr>
				<tr class="sub-row" ng-click="caseDetails(patient,case)" ng-repeat="case in patient.Cases__r">
					<td>{{case.Physician__r.Name}}</td>
					<td><strong>{{case.Case_Type__r.Description__c}} - {{case.Laterality__c}}</strong></td>
					<td>{{case.Procedure_Date__c | date:'longDate'}}</td>
					<td>&nbsp;</td>
				</tr>
			</tbody>
		</table>
		
	</div>