<div id="patient-list-content" class="content">
	<div class="flex container-fluid">
		<div class="left">
			<h2>Patient List</h2>
			<div style="font-weight:bold;font-size:14px;">
<span>{{$ctrl.currentHospital()}}</span>
<a href="#" ng-if="currentUser.ContactId==null" ng-click="$ctrl.openHospitalFilter();">(Change)</a>
</div>
</div>
<div class="right large-search" style="z-index:1">
<input type="text" placeholder="Patient Search" ng-model="$ctrl.patientSearchValue" ng-class="{'s-active': patientSearchValue !== ''}"
	ng-keyup="$ctrl.searchPatients()" />
<button type="button" class="btn btn-os" ng-click="$ctrl.resetSearch()">
                <i class="icon icon-close" ng-show="$ctrl.patientSearchValue !== ''" ></i>
                <i class="icon icon-search" ng-show="$ctrl.patientSearchValue === ''"></i>
            </button>
<div class="suggestions" ng-show="$ctrl.patientSearchValue.length > 2" ng-class="{'multi-sources': $ctrl.patientSearchValue !== ''}">
	<div id="existing-patients" class="title active" ng-click="activeTab = 'existing-patients'" ng-class="{'active': activeTab === 'existing-patients'}">Existing Patients ({{$ctrl.searchPatientResults.length}})</div>
	<div id="hl7-patients" class="title" ng-click="activeTab = 'hl7-patients'" ng-class="{'active': activeTab === 'hl7-patients'}">HL7 Patients ({{$ctrl.searchHL7PatientResults.length}})</div>

	<ul ng-show="patientSearchValue !== '' && activeTab === 'existing-patients'" ng-class="{'active': activeTab === 'existing-patients'}">
		<li ng-repeat="result in searchPatientResults">
			<span ng-show="!result.Anonymous__c"><span class="patient-name matching" ng-click="$ctrl.searchPatientSelected(result)">{{$ctrl.result.Last_Name__c}}, {{$ctrl.result.First_Name__c}} {{$ctrl.result.Middle_Initial__c}}</span>
			<span class="dob">{{$ctrl.result.Gender__c}} - {{$ctrl.result.Date_Of_Birth__c | date: 'shortDate'}}</span><span class="patient-number">{{$ctrl.result.Medical_Record_Number__c}}</span></span>
			<span ng-show="$ctrl.result.Anonymous__c"><span class="patient-name matching" ng-click="$ctrl.searchPatientSelected(result)">{{$ctrl.result.Anonymous_Label__c}} (Anonymous)</span>
			<span class="dob">{{$ctrl.result.Gender__c}} - {{$ctrl.result.Anonymous_Year_of_Birth__c}}</span><span class="patient-number">{{$ctrl.result.Medical_Record_Number__c}}</span></span>
		</li>
	</ul>
	<ul ng-show="$ctrl.patientSearchValue !== '' && activeTab === 'hl7-patients'" ng-class="{'active': activeTab === 'hl7-patients'}">
		<li ng-repeat="result in $ctrl.searchHL7PatientResults"><i class="fa fa-rss HL7-icon"></i> <span class="patient-name matching" ng-click="$ctrl.searchHL7PatientSelected(result)">{{$ctrl.result.Patient_Last_Name__c}}, {{$ctrl.result.Patient_First_Name__c}} {{$ctrl.result.Patient_Middle_Initial__c}}</span>
			<span class="dob">{{$ctrl.result.Patient_Gender__c}} - {{$ctrl.result.Patient_Date_Of_Birth__c | date: 'shortDate'}}</span>
			<span class="patient-number">{{$ctrl.result.Medical_Record_Number__c}}</span>
		</li>
	</ul>
</div>
</div>
</div>
<div class="" style="padding-left:12px; margin-right:12px;">
<div class="row">
	<div class="col-xs-12">
		<button type="button" class="btn btn-os btn-os-primary" ng-click="$ctrl.addNewPatient()">
                    <span>Add a Patient</span> <i class="icon icon-add-person"></i>
                </button>

		<div class="filter">
			<div id="patients-list-filter" class="custom-drop-down">
				<button type="button" class="btn btn-os btn-os-primary" ng-click="$ctrl.toggleFilter()">
                            <span>Filter By</span> <i class="icon icon-download-bars"></i>
                        </button>
				<div class="backdrop" ng-class="{'open': filterOpen}" ng-click="$ctrl.closeFilter()"></div>
				<ul class="level1" ng-class="{'open': filterOpen}">

					<li>
						<div>
							<a ng-hide="$ctrl.filterDrillDown == true" ng-click="$ctrl.drillDownFilter()"><i class="fa fa-chevron-right"></i> Surgeon</a>
							<ul ng-show="$ctrl.filterDrillDown">
								<li class="back" ng-click="$ctrl.drillUpFilter()">
									<a><i class="fa fa-chevron-left pull-left"></i>Back</a>
								</li>
								<li ng-repeat="surgeon in $ctrl.surgeons">
									<a ng-click="$ctrl.filterClicked('surgeon', surgeon, $event)" ng-class="{'active':$ctrl.surgeonFilters.indexOf(surgeon)!=-1}"><i class="fa fa-check"></i>{{$ctrl.surgeon.Surgeon__r.Name}}</a>
								</li>
							</ul>
						</div>
					</li>

					<li>
						<div ng-hide="$ctrl.filterDrillDown == true">
							<a ng-click="$ctrl.filterClicked('source', 'Existing', $event)"><i class="fa fa-check"></i>Existing Patients</a>
						</div>
					</li>
					<li>
						<div ng-hide="$ctrl.filterDrillDown == true">
							<a ng-click="$ctrl.filterClicked('source', 'Scheduled', $event)"><i class="fa fa-check"></i>Scheduled Patients</a>
						</div>
					</li>

					<li>
						<div ng-hide="$ctrl.filterDrillDown == true">
							<a ng-click="$ctrl.filterClicked('date', '', $event)"><i class="fa fa-check"></i>Procedure Date</a>
							<br/><br/>
							<input type="hidden" datetime-picker="MM/dd/yyyy" enable-time="false" ng-model="$ctrl.procedureDateFilterValue" is-open="$ctrl.procedureDateFilter"
								datepicker-options="$ctrl.dateOptions" />
						</div>
					</li>
				</ul>
			</div>
			<!-- / .dropdown -->

			<div class="filter-labels">
				<div class="filter-label date" style="margin-right:5px;" ng-show="$ctrl.sourceFilter=='Existing'">
<span>Existing Patients</span>
</div>

<div class="filter-label date" style="margin-left:10px;margin-right:5px;" ng-show="$ctrl.sourceFilter=='Scheduled'">
<span>Scheduled Patients</span>
</div>

<div class="filter-label surgeon" style="margin-right:5px;" ng-repeat="filter in $ctrl.surgeonFilters">
<span>{{$ctrl.filter.Surgeon__r.Name}}</span> <button type="button" class="button clear" ng-click="$ctrl.removeSurgeonFilter(filter)"><i class="fa fa-close"></i></button>
</div>

<div class="filter-label stage" style="margin-right:5px;" ng-show="$ctrl.procedureDateFilterValue">
<span>{{$ctrl.procedureDateFilterValue | date:'longDate'}}</span>
<button type="button" class="button clear" ng-click="$ctrl.removeDateFilter()">
								<i class="fa fa-close"></i></button>
</div>

</div>
<!-- / .labels -->
</div>
<!-- / .filter -->
</div>
</div>
<!-- / .row -->
</div>
<!-- / .container-fluid -->
<div style="padding-left:12px; margin-right:12px;margin-top:12px;">
<table class="table table-os" ng-if="$ctrl.sourceFilter=='Existing'">
	<thead>
		<tr>
			<th>Name</th>
			<th>DOB</th>
			<th>Sex</th>
			<th>Surgeon</th>
			<th>Case Type</th>
			<th>Procedure Date</th>
			<th class="action">Add a Case</th>
		</tr>
	</thead>
	<tbody ng-repeat="patient in $ctrl.filteredPatients">
		<tr>
			<td rowspan="99">
				<a ng-click="$ctrl.patientDetails(patient)" ng-show="!$ctrl.patient.Anonymous__c">{{$ctrl.patient.Last_Name__c}}, {{patient.First_Name__c}}</a>
				<a ng-click="$ctrl.patientDetails(patient)" ng-show="$ctrl.patient.Anonymous__c">{{$ctrl.patient.Anonymous_Label__c}} (Anonymous)</a>
			</td>
			<td rowspan="99">
				<span ng-show="!$ctrl.patient.Anonymous__c">{{$ctrl.patient.Date_Of_Birth__c | date: 'shortDate'}}</span>
				<span ng-show="$ctrl.patient.Anonymous__c">{{$ctrl.patient.Anonymous_Year_of_Birth__c}}</span>
			</td>
			<td rowspan="99">
				{{$ctrl.patient.Gender__c}}
			</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td class="action">
				<button type="button" class="btn btn-os" ng-click="$ctrl.addPatientCase(patient)">
                        <i class="icon icon-add-folder"></i>
                    </button>
			</td>
		</tr>
		<tr class="sub-row" ng-click="$ctrl.caseDetails(patient,case)" ng-repeat="case in $ctrl.patient.Cases__r">
			<td>{{$ctrl.case.Physician__r.Name}}</td>
			<td><strong>{{$ctrl.case.Case_Type__r.Description__c}} - {{$ctrl.case.Laterality__c}}</strong></td>
			<td>{{$ctrl.case.Procedure_Date__c | date:'longDate'}}</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>
</div>
<os-scheduled-patients></os-scheduled-patients>
</div>
</div>