<section class="panel panel-default">
    <div class="panel-body">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Practice</th>
                    <th>Surgeon</th>
                    <th>Procedure Date</th>
                    <th>Stage</th>
                    <th>Section</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prom in $ctrl.promDeltas">
                    <td>{{prom.practiceName}}</td>
                    <td>{{prom.surgeonName}}</td>
                    <td>{{prom.procedureDate | date: "smallDate"}}</td>
                    <td>{{prom.stage}}</td>
                    <td>{{prom.section}}</td>
                    <td>{{prom.score}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Patient Name</div>
                        <div class="panel-body">
                            Procedure Date: 1/30/2017 Pre-op
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                            <th>Pre-Op</th>
                                            <th>4-8 Week</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>KOOS Sympton</td>
                                        <td>56</td>
                                        <td>65</td>
                                    </tr>
                                    <tr>
                                        <td>KOOSPain</td>
                                        <td>42</td>
                                        <td>54</td>
                                    </tr>
                                </tbody>
                                <tr>
                                    <td>KOOS Sport/Red</td>
                                    <td>77</td>
                                </tr>
                            </table>
                            <os-mean-change-in-prom-score></os-mean-change-in-prom-score>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Patient Name</div>
                        <div class="panel-body">
                             Procedure Date: 1/30/2017 Pre-op
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                            <th>Pre-Op</th>
                                            <th>4-8 Week</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>KOOS Sympton</td>
                                        <td>56</td>
                                        <td>65</td>
                                    </tr>
                                    <tr>
                                        <td>KOOSPain</td>
                                        <td>42</td>
                                        <td>54</td>
                                    </tr>
                                </tbody>
                                <tr>
                                    <td>KOOS Sport/Red</td>
                                    <td>77</td>
                                </tr>
                            </table>
                            <os-mean-change-in-prom-score></os-mean-change-in-prom-score>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Patient Name</div>
                        <div class="panel-body">
                             Procedure Date: 1/30/2017 Pre-op
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                            <th>Pre-Op</th>
                                            <th>4-8 Week</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>KOOS Sympton</td>
                                        <td>56</td>
                                        <td>65</td>
                                    </tr>
                                    <tr>
                                        <td>KOOSPain</td>
                                        <td>42</td>
                                        <td>54</td>
                                    </tr>
                                </tbody>
                                <tr>
                                    <td>KOOS Sport/Red</td>
                                    <td>77</td>
                                </tr>
                            </table>
                            <os-mean-change-in-prom-score></os-mean-change-in-prom-score>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Patient Name</div>
                        <div class="panel-body"> Procedure Date: 1/30/2017 Pre-op
                             <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                            <th>Pre-Op</th>
                                            <th>4-8 Week</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>KOOS Sympton</td>
                                        <td>56</td>
                                        <td>65</td>
                                    </tr>
                                    <tr>
                                        <td>KOOSPain</td>
                                        <td>42</td>
                                        <td>54</td>
                                    </tr>
                                </tbody>
                                <tr>
                                    <td>KOOS Sport/Red</td>
                                    <td>77</td>
                                </tr>
                            </table>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Patient Name</div>
                        <div class="panel-body"> Procedure Date: 1/30/2017 Pre-op
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                            <th>Pre-Op</th>
                                            <th>4-8 Week</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>KOOS Sympton</td>
                                        <td>56</td>
                                        <td>65</td>
                                    </tr>
                                    <tr>
                                        <td>KOOSPain</td>
                                        <td>42</td>
                                        <td>54</td>
                                    </tr>
                                </tbody>
                                <tr>
                                    <td>KOOS Sport/Red</td>
                                    <td>77</td>
                                </tr>
                            </table>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Patient Name</div>
                        <div class="panel-body">
                             Procedure Date: 1/30/2017 Pre-op
                             <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                            <th>Pre-Op</th>
                                            <th>4-8 Week</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>KOOS Sympton</td>
                                        <td>56</td>
                                        <td>65</td>
                                    </tr>
                                    <tr>
                                        <td>KOOSPain</td>
                                        <td>42</td>
                                        <td>54</td>
                                    </tr>
                                </tbody>
                                <tr>
                                    <td>KOOS Sport/Red</td>
                                    <td>77</td>
                                </tr>
                            </table>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Patient Name</div>
                        <div class="panel-body">
                             <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                            <th>Pre-Op</th>
                                            <th>4-8 Week</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>KOOS Sympton</td>
                                        <td>56</td>
                                        <td>65</td>
                                    </tr>
                                    <tr>
                                        <td>KOOSPain</td>
                                        <td>42</td>
                                        <td>54</td>
                                    </tr>
                                </tbody>
                                <tr>
                                    <td>KOOS Sport/Red</td>
                                    <td>77</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Patient Name</div>
                        <div class="panel-body">
                             <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                            <th>Pre-Op</th>
                                            <th>4-8 Week</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>KOOS Sympton</td>
                                        <td>56</td>
                                        <td>65</td>
                                    </tr>
                                    <tr>
                                        <td>KOOSPain</td>
                                        <td>42</td>
                                        <td>54</td>
                                    </tr>
                                </tbody>
                                <tr>
                                    <td>KOOS Sport/Red</td>
                                    <td>77</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>