<h1 ng-show="!patient.Anonymous__c">{{$ctrl.patient.First_Name__c}} {{$ctrl.patient.Last_Name__c}}</h1>
<h1 ng-show="patient.Anonymous__c">{{$ctrl.patient.Anonymous_Label__c}} (Anonymous)</h1>
<div class="form-group">
	<label class="control-label">Sex</label>
	<span class="value">{{$ctrl.patient.Gender__c}}</span>
	<label class="control-label">DOB</label>
	<span class="value" ng-show="!patient.Anonymous__c">{{$ctrl.patient.Date_Of_Birth__c | date: 'shortDate'}}</span>
	<span class="value" ng-show="patient.Anonymous__c">{{$ctrl.patient.Anonymous_Year_of_Birth__c}}</span>
	<label class="control-label">Patient #</label>
	<span class="value">{{$ctrl.patient.Source_Record_Id__c}}</span>
	<button type="button" class="btn btn-os" ng-click="$ctrl.togglePatientDetailsDrawer()">
            <i class="icon icon-c-arrow-down"></i>
        </button>

</div>