<div class="patient-details">
	<div hidden>{{$ctrl.patient.Id}}</div>
	<h1 ng-show="!$ctrl.patient.Anonymous__c">{{$ctrl.patient.First_Name__c}} {{$ctrl.patient.Last_Name__c}}</h1>
	<h1 ng-show="$ctrl.patient.Anonymous__c">{{$ctrl.patient.Anonymous_Label__c}} (Anonymous)</h1>
	<div class="form-group">
		<label class="control-label">Sex</label>
		<span class="value">{{$ctrl.patient.Gender__c}}</span>
		<span style="padding-right:10px;padding-left:14px;">
		<label class="control-label">DOB</label>
		<span class="value" ng-show="!patient.Anonymous__c">{{$ctrl.patient.Date_Of_Birth__c | date: 'shortDate'}}</span>
		</span>
		<span class="value" ng-show="patient.Anonymous__c">{{$ctrl.patient.Anonymous_Year_of_Birth__c}}</span>
		<span style="padding-right:104px;">
		<label class="control-label">Patient #</label>
		<span class="value">{{$ctrl.patient.Source_Record_Id__c}}</span>
		</span>
		<span style="padding-right:14px;">
		<label class="control-label">Email</label>
		<span class="value">{{$ctrl.patient.Email__c}}</span>
		</span>
		<button type="button" class="btn btn-os" ng-click="$ctrl.togglePatientDetailsDrawer()">
            <i class="icon icon-c-arrow-down"></i>
        </button>

	</div>

</div>
<!-- / .patient-details -->

<div class="drawer" ng-class="{'open': $ctrl.patientDetailsVisible}">
	<div class="row">
		<div class="col-sm-11 col-sm-offset-1">
			<div class="row">
				<!--<os-patient-detail-info></os-patient-detail-info>-->
				<!--<div ng-include="'app/components/patientDetailInfo/patientDetailInfo.component.html'"></div>-->

				<div class="col-sm-12">
					<div class="form-horizontal tight-vertically">
						<div class="col-sm-3">
							<div class="form-group">
								<label class="col-sm-6 col-md-5 control-label">Language</label>
								<div class="col-sm-6 col-md-7 value">{{$ctrl.patient.Language__c}}</div>
							</div>
							<!-- / .form-group -->
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label class="col-sm-7 col-md-6 control-label" for="MedicalRecordNumber">Medical Record #</label>
								<div id="medicalRecordNumber" class="col-sm-5 col-md-6 value">{{$ctrl.patient.Medical_Record_Number__c}}</div>
							</div>
							<!-- / .form-group -->
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label class="col-sm-6 col-md-5 control-label">Account #</label>
								<div class="col-sm-6 col-md-7 value">{{$ctrl.patient.Account_Number__c}}</div>
							</div>
							<!-- / .form-group -->
						</div>
						<div class="col-sm-3">
							<a class="pull-right" style="margin-right:15px;" ng-click="$ctrl.editPatient()">
								<span>Edit </span> <i class="icon icon-edit"></i>
							</a>
							<!--<button type="button" 
				class="btn btn-os btn-os-primary pull-right" 
				style="margin-right:15px" 
				ng-click="editPatient()">
                    <span>Edit</span> <i class="icon icon-edit"></i>
                </button>-->
						</div>
					</div>
				</div>
				<!-- / .row.row-separator -->
			</div>
		</div>
	</div>
	<!--<tt>{{$ctrl.patient}}</tt>-->
</div>