﻿<div id="header" class="container-fluid">
    <div id="logo">
        <img ng-src={{$ctrl.logo}} width="42" height="42" style="margin-top:15px" />
    </div>

    <div id="view-header" class="ng-animate slide" ui-view="header">
        <!-- load view header here -->
    </div>
    <div style="padding-top:15px;">

        <!--<a class="btn btn-default btn-sm pull-right" href="#" 
        ng-show="$ctrl.systemMode=='development'"
        ui-sref="notifications" type="button">Messages <span class="badge">2</span>
        </a>-->
    </div>
    <div id="user-menu">
        <div class="dropdown clear pull-right">
            <button id="user-name" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>{{$ctrl.name}}</span>
                            <span class="caret"></span>
                        </button>
            <ul aria-labelledby="dLabel" class="dropdown-menu pull-right">
                <li>
                    <a href="#"><i class="glyphicon glyphicon-cog"></i> Preferences</a>
                </li>
                <li ng-show="$ctrl.systemMode=='development'">
                    <a href="#" ui-sref="admin"> <i class="glyphicon glyphicon-th">
                        </i>Admin</a>
                </li>

                <li ng-show="$ctrl.systemMode=='development'">
                    <a href="#" ui-sref="test"><i class="glyphicon glyphicon-pushpin"></i>Test</a>
                </li>
                <li><a href="{{$ctrl.logoutCall}}" target="_self"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>

            </ul>
        </div>
        <div class="pull-right" style="padding-right:20px;" ng-show="$ctrl.systemMode=='development'">
            <a class="btn btn-link" style="font-size:1.5em;" href="#"  ui-sref="notifications">
                <i class="fa fa-bell"></i>
            </a>
            <span class="badge badge-notify">{{$ctrl.messages}}</span>
        
        </div>
    </div>
</div>

<div id="view-content" class="ng-animate slide" style="margin-top:30px;padding-top:30px" ui-view="content">
    <!-- load view content here -->
</div>
<!-- / #main-view -->

<div class="modal">
    <!-- load modal view content here -->
</div>

<!--<div id="background"></div>-->