<div style="width:600px;">
<div class="row">
    <div class="col-sm-2">
        <div class="dropdown pull-left">
            <button id="main-navigation" class="btn btn-os navigation-action" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
        <!--<i class="glyphicon glyphicon-menu-hamburger"></i>-->
        <i class="fa fa-bars" aria-hidden="true"></i>
    </button>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li>
                    <a ui-sref="patientList"><i class="glyphicon glyphicon-list"> </i> Patients</a>
                </li>
                <li>
                    <a href="#" ui-sref="dashboard"> <i class="glyphicon glyphicon-stats"></i> Dashboard</a>
                </li>
                <!--<li ng-show="$ctrl.systemMode=='development'">
                    <a href="#" ui-sref="admin"> <i class="glyphicon glyphicon-th">
                        </i>Admin</a>
                </li>-->
                <li ng-show="$ctrl.systemMode=='development'">
                    <a href="#" ui-sref="notifications"> <i class="glyphicon glyphicon-th">
                        </i>Notifications</a>
                </li>
                <li ng-show="$ctrl.systemMode=='development'">
                    <a href="#" ui-sref="reports"> <i class="glyphicon glyphicon-stats">
                        </i>Reports</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4">
        <h1 style="padding-left:1px;"> {{$ctrl.title}}</h1>
    </div>
   
</div>
</div>