<section class="container-fluid content test" style="padding-top:30px;">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xss-12">
            <h4>{{$ctrl.title}}</h4>
            <div ng-repeat="notification in $ctrl.notifications">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">{{notification.patientName}}: {{notification.id}}</div>
                    </div>

                    <div class="panel-body">
                        <p>{{notification.message}}</p>
                    </div>
                    <div class="panel-footer">
                        <div class="btn-group">
                            <div type="button" class="btn btn-default btn-os">Mark as read</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>