<fieldset>
    <div class="row">
        <div class="col-xs-12 col-md-5">
            <div class="form-group" ng-class="{ 'has-error' : pageForm.hospital.$invalid && pageForm.submitted}" ng-if="$ctrl.isUserAdmin">
                <label for="patient-hospital" class="col-sm-4 control-label  required">Hospital</label>
                <div class="col-sm-8">
                    <div class="select">
                        <select id="patient-hospital" ng-model="$ctrl.patient.hospital" required="true" name="hospital" ng-disabled="$ctrl.patient.hl7"
                            ng-options="hospital.name for hospital in $ctrl.hospitals track by hospital.id" ng-change="$ctrl.resetPractice();$ctrl.checkAnonymous()">
                            <!--<option ng-repeat=value="{{hospital.Id}}">{{hospital.Name}}</option>-->
                            </select>
                    </div>
                    <!-- / .select -->
                    <div ng-messages="pageForm.hospital.$error" ng-if="pageForm.submitted">
                        <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Hospital selection is required.</p>
                    </div>
                </div>
                <!-- / .col-sm-8 -->
            </div>
            <!-- / .form-group -->

            <div class="form-group" ng-show="$ctrl.patient.hospital && !$ctrl.patient.hl7">
                <label for="patient-practice" class="col-sm-4 control-label">Practice</label>
                <div class="col-sm-8">
                    <div class="select">
                        <select id="patient-practice" ng-model="$ctrl.patient.practice" name="surgeon" ng-change="$ctrl.checkAnonymous()">
                            <option value="">Not Selected</option>
                            <option ng-repeat="practice in $ctrl.practices | filter: {parentId:patient.hospital.id}" value="{{practice.id}}">{{practice.name}}</option>
                        </select>
                    </div>
                    <!-- / .select -->
                </div>
                <!-- / .col-sm-8 -->
            </div>
            <!-- / .form-group -->

            <div class="form-group" ng-show="!$ctrl.patient.hl7">
                <label for="new-patient-anonymous" class="col-sm-4 control-label">Is Anonymous</label>
                <div class="col-sm-8">
                    <input type="checkbox" id="new-patient-anonymous" class="show" style="height:20px;" name="anonymous" ng-model="$ctrl.patient.anonymous"
                    />
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : pageForm.label.$invalid && pageForm.label.$touched}" ng-show="$ctrl.patient.anonymous">
                <label for="new-patient-label" class="col-sm-4 control-label required">Patient Label</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="new-patient-label" name="label" ng-model="$ctrl.patient.label" ng-required="$ctrl.patient.anonymous"
                    />
                    <div ng-messages="pageForm.label.$error" ng-if="pageForm.label.$invalid && pageForm.label.$touched">
                        <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Patient Label is required.</p>
                    </div>
                </div>
            </div>
            <!-- / .form-group -->

            <div class="form-group" ng-class="{ 'has-error' : pageForm.firstName.$invalid && pageForm.firstName.$touched}" ng-show="!$ctrl.patient.anonymous">
                <label for="new-patient-first-name" class="col-sm-4 control-label required">First Name</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="new-patient-first-name" name="firstName" ng-model="$ctrl.patient.firstName" ng-minlength="2"
                        ng-required="!$ctrl.patient.anonymous" />
                    <div ng-messages="pageForm.firstName.$error" ng-if="pageForm.firstName.$invalid && pageForm.firstName.$touched">
                        <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Patient First Name is required.</p>
                        <p class="help-block" ng-message="minlength"><i class="fa fa-exclamation-triangle"></i> Patient First Name must be at least 2 characters.
                        </p>
                    </div>
                </div>
            </div>
            <!-- / .form-group -->

            <div class="form-group" ng-class="{ 'has-error' : pageForm.lastName.$invalid && pageForm.lastName.$touched}" ng-show="!$ctrl.patient.anonymous">
                <label for="new-patient-last-name" class="col-sm-4 control-label  required">Last Name</label>
                <div class="col-sm-8">
                    <input class="form-control" id="new-patient-last-name" name="lastName" ng-model="$ctrl.patient.lastName" ng-required="!$ctrl.patient.anonymous"
                        ng-minlength="2" />
                    <div ng-messages="pageForm.lastName.$error" ng-if="pageForm.lastName.$invalid && pageForm.lastName.$touched">
                        <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Patient Last Name is required.</p>
                        <p class="help-block" ng-message="minlength"><i class="fa fa-exclamation-triangle"></i> Patient Last Name must be at least 2 characters.</p>
                    </div>

                </div>
            </div>
            <!-- / .form-group -->

            <div class="form-group" ng-class="{ 'has-error' : pageForm.newPatientSex.$invalid && pageForm.newPatientSex.$touched}">
                <label for="new-sex-name" class="col-sm-4 control-label  required">Sex</label>
                <div class="col-sm-8">
                    <input type="radio" name="newPatientSex" id="new-patient-sex-male" value="M" ng-model="$ctrl.patient.gender" required="true"
                    /><label for="new-patient-sex-male">Male</label>
                    <input type="radio" name="newPatientSex" id="new-patient-sex-female" value="F" ng-model="$ctrl.patient.gender" required="true"
                    /><label for="new-patient-sex-female">Female</label>
                    <div ng-messages="pageForm.newPatientSex.$error" ng-if="pageForm.newPatientSex.$invalid && pageForm.newPatientSex.$touched">
                        <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Patient Sex is required.</p>
                    </div>


                </div>
            </div>
            <!-- / .form-group -->

            <div class="form-group" ng-class="{ 'has-error' : pageForm.dateofBirthString.$invalid && pageForm.dateofBirsthString.$touched}"
                ng-show="!$ctrl.patient.anonymous">
                <label for="new-patient-dob" class="col-sm-4 control-label  required">Birthdate</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="dateofBirthString" placeholder="MM/DD/YYYY" style="background-color:white; width:150px;height:38px;margin-left:-2px;"
                        datetime-picker="MM/dd/yyyy" enable-time="false" ng-model="$ctrl.patient.dateofBirthString" is-open="$ctrl.open.birthDate"
                        datepicker-options="$ctrl.dateOptions" ng-required="!$ctrl.patient.anonymous" 
                        ng-max = "$ctrl.maxBirthDate"
                        min = "01/01/1920"
                        close-text="Close" ng-click="$ctrl.open($event,'birthDate')"
                    />
                    <button type="button" class="btn btn-os" ng-click="$ctrl.open($event,'birthDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    <div ng-messages="pageForm.dateofBirthString.$error" ng-if="pageForm.dateofBirthString.$invalid && pageForm.dateofBirsthString.$touched">
                        <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Patient Birthdate is required.</p>
                         <p class="help-block" ng-message="max"><i class="fa fa-exclamation-triangle"></i> Patient Birthdate must be before today!</p>
                    </div>
                </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : pageForm.BirthYear.$invalid && pageForm.BirthYear.$touched}" ng-show="$ctrl.patient.anonymous">
            <label for="new-patient-dob" class="col-sm-4 control-label  required">Birth Year</label>
            <div class="col-sm-2">
                <div class="select">
                    <select id="patient-birth-year" ng-model="$ctrl.patient.birthYear" ng-required="$ctrl.patient.anonymous" name="BirthYear"
                        style="padding-left:8px;">
                        <option ng-repeat="year in $ctrl.birthYears" value="{{year}}">{{year}}</option>
                        </select>
                </div>
                <!-- / .select -->
                <div ng-messages="pageForm.BirthYear.$error" ng-if="pageForm.BirthYear.$invalid && pageForm.BirthYear.$touched">
                    <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Patient Birth Year is required.</p>
                </div>
            </div>
        </div>

    </div>

    <div class="col-xs-12 col-md-7">

        <div class="form-group" ng-class="{ 'has-error' : pageForm.medicalRecordNumber.$invalid && pageForm.medicalRecordNumber.$touched}">
            <label for="new-patient-medical-record-number" class="col-sm-4 control-label" ng-class="!$ctrl.patient.anonymous?'required':''">Medical Record #</label>
            <div class="col-sm-8">
                <input type="text" name="medicalRecordNumber" class="form-control" id="new-patient-medical-record-number" ng-model="$ctrl.patient.medicalRecordNumber"
                    ng-required="!$ctrl.patient.anonymous" />
                <div ng-messages="pageForm.medicalRecordNumber.$error" ng-if="pageForm.medicalRecordNumber.$invalid && pageForm.medicalRecordNumber.$touched">
                    <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Patient Medical Record # is required.</p>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : pageForm.email.$invalid && pageForm.email.$touched}">
            <label for="new-patient-email" class="col-sm-4 control-label">Email</label>
            <div class="col-sm-8">
                <input type="email" name="email" class="form-control" id="new-patient-email" ng-model="$ctrl.patient.email" />
                <div ng-messages="pageForm.email.$error" ng-if="pageForm.email.$invalid && pageForm.email.$touched">
                    <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Email is required.</p>
                    <p class="help-block" ng-message="email"><i class="fa fa-exclamation-triangle"></i> Email is not valid.</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="new-patient-number" class="col-sm-4 control-label">Patient #</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="new-patient-number" ng-model="$ctrl.patient.patientNumber" />
            </div>
        </div>

        <!-- / .form-group -->
        <div class="form-group">
            <label for="new-patient-account-number" class="col-sm-4 control-label">Account #</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="new-patient-account-number" ng-model="$ctrl.patient.accountNumber" />
            </div>
        </div>
        <!-- / .form-group -->
        <div class="form-group">
            <label for="new-patient-ss-number" class="col-sm-4 control-label">Social Security #</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="new-patient-ss-number" ng-model="$ctrl.patient.socialSecurityNumber" />
            </div>
        </div>

        <div class="form-group">
            <label for="new-patient-race" class="col-sm-4 control-label">Race</label>
            <div class="col-sm-8">
                <div class="select">
                    <select id="new-patient-race" ng-model="$ctrl.patient.race">
                        <option>White</option>
                        <option>Black or African American</option>
                        <option>American Indian</option>
                        <option>Asian</option>
                        <option>Native Hawaiian</option>
                        <option>Hispanic</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- / .form-group -->
        <div class="form-group">
            <label for="new-patient-language" class="col-sm-4 control-label">Language</label>
            <div class="col-sm-8">
                <div class="select">
                    <select id="new-patient-language" ng-model="$ctrl.patient.language">
                        <option>English</option>
                        <option>Spanish</option>
                        <option>French</option>
                        <option>Chinese</option>
                        <option>Creole</option>
                        <option>Unknown</option>
                        <option>Russian</option>
                        <option>Portuguese</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- / .form-group -->
    </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="btn-group">

                <div class="" ng-if="!$ctrl.matchedPatient">
                    <button type="button" class="btn btn-os btn-os-primary" ng-click="$ctrl.cancel()">
        <span>Cancel</span>
    </button>
                    <button type="button" class="btn btn-os btn-os-primary" ladda="$ctrl.loadingPatient" ng-disabled="pageForm.$invalid" ng-click="$ctrl.savePatientOnly(pageForm)">
        <span>Save</span>
    </button>
                    <button type="button" class="btn btn-os btn-os-primary" ladda="$ctrl.loadingPatient" ng-disabled="pageForm.$invalid" ng-click="$ctrl.savePatientAndAddCase(pageForm)">
        <span>Save and add Case</span>
    </button>
                    <!--<script>Ladda.bind('.modal-footer button');</script>-->
                </div>
                <div class="" ng-if="$ctrl.matchedPatient">
                    <div class="col-sm-12" style="text-align:left;" ng-show="!$ctrl.matchedPatient.Anonymous__c">
                        <h1>Possible Match Found:</h1>
                        <p>Would you like to create a new Patient or proceed with the existing Patient?</p>
                        <br/>
                        <b>First Name: </b>{{$ctrl.matchedPatient.First_Name__c}}<br/>
                        <b>Last Name: </b>{{$ctrl.matchedPatient.Last_Name__c}}<br/>
                        <b>SSN: </b>{{$ctrl.matchedPatient.SSN__c}}<br/>
                        <b>Date of Birth: </b>{{$ctrl.matchedPatient.Date_Of_Birth__c | date: 'shortDate'}}<br/>
                        <b>Race: </b>{{$ctrl.matchedPatient.Race__c}}<br/>
                        <b>Medical Record Number: </b>{{$ctrl.matchedPatient.Medical_Record_Number__c}}<br/>
                    </div>
                    <div class="col-sm-12" style="text-align:left;" ng-show="$ctrl.matchedPatient.Anonymous__c">
                        <h1>Possible Match Found:</h1>
                        <p>Would you like to create a new Patient or proceed with the existing Patient?</p>
                        <br/>
                        <b>Patient Label: </b>{{$ctrl.matchedPatient.Anonymous_Label__c}}<br/>
                        <b>Year of Birth: </b>{{$ctrl.matchedPatient.Anonymous_Year_of_Birth__c}}<br/>
                    </div>
                    <button type="button" class="btn btn-os btn-os-primary" ng-click="$ctrl.cancel()">
        <span>Cancel</span>
    </button>
                    <button type="button" ladda="$ctrl.loadingPatient" class="btn btn-os btn-os-primary" data-style="zoom-in" data-spinner-color="DeepSkyBlue"
                        style="margin-top:0px;z-index:0" ng-click="$ctrl.createNewPatient(pageForm)">
                        <span>Create New Patient</span>
                        </button>
                        <button type="button" class="btn btn-os btn-os-default" data-style="zoom-in" data-spinner-color="White" ng-click="$ctrl.createNewCase(matchedPatient)">
        <span>Proceed With the Existing Patient</span>
    </button>
                        <!--<script>Ladda.bind('.modal-footer button');</script>-->
                </div>
            </div>
        </div>
    </div>
</fieldset>