<div class="content test">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">

            <form class="form-horizontal" name="pageForm">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">{{$ctrl.title}}</div>
                    </div>
                    <div class="panel-body">
                        <fieldset>
                            <h4 ng-if="!$ctrl.patient.anonymous">{{$ctrl.patient.lastName}}, {{$ctrl.patient.firstName}}</h4>
                            <h4 ng-if="$ctrl.patient.anonymous">Anonymous Patient: {{$ctrl.patient.label}}</h4>
                            <div class="form-group" ng-if="$ctrl.multipleCaseTypes" ng-class="{ 'has-error' : pageForm.CaseType.$invalid && pageForm.CaseType.$touched}">
                                <label for="case-type" class="col-sm-3 control-label  required">Case Type</label>
                                <div class="col-sm-8">
                                    <div class="select">
                                        <select id="case-type" ng-model="$ctrl.patientCase.CaseTypeId" required="true" name="CaseType">
                                            <option ng-repeat="caseType in $ctrl.caseTypes" value="{{caseType.Case_Type__r.Id}}">{{caseType.Case_Type__r.Description__c}}</option>
                                        </select>
                                    </div>
                                    <!-- / .select -->
                                    <div ng-messages="pageForm.CaseType.$error" ng-if="pageForm.CaseType.$invalid && pageForm.CaseType.$touched">
                                        <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Case Type is required.</p>
                                    </div>
                                </div>
                                <!-- / .col-sm-8 -->
                            </div>

                            <div class="form-group" ng-if="!$ctrl.multipleCaseTypes">
                                <label for="case-type" class="col-sm-3 control-label ">Case Type: </label>
                                <div class="form-control-static"> {{$ctrl.caseTypes[0].Case_Type__r.Description__c}}</div>
                            </div>
                            <!-- / .form-group -->
                            <div class="form-group" ng-class="{ 'has-error' : pageForm.laterality.$invalid && pageForm.laterality.$touched}">
                                <label class="col-sm-3 control-label  required">Laterality</label>
                                <div class="col-sm-8">
                                    <input type="radio" name="laterality" required="true" id="laterality-left" value="Left" ng-model="$ctrl.patientCase.laterality"
                                    /><label for="laterality-left">Left</label>
                                    <input type="radio" name="laterality" required="true" id="laterality-right" value="Right" ng-model="$ctrl.patientCase.laterality"
                                    /><label for="laterality-right">Right</label>
                                    <input type="radio" name="laterality" required="true" id="laterality-both" value="Both" ng-model="$ctrl.patientCase.laterality"
                                    /><label for="laterality-both">Both</label>
                                    <div ng-messages="pageForm.laterality.$error" ng-if="pageForm.laterality.$invalid && pageForm.laterality.$touched">
                                        <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Laterality is required.</p>
                                    </div>

                                </div>
                                <!-- / .col-sm-8 -->
                            </div>
                            <!-- / .form-group -->
                            <div class="form-group" ng-class="{ 'has-error' : pageForm.surgeon.$invalid && pageForm.surgeon.$touched}">
                                <label for="case-surgeon" class="col-sm-3 control-label  required">Surgeon</label>
                                <div class="col-sm-8">
                                    <div class="select">
                                        <select id="case-surgeon" ng-model="$ctrl.patientCase.SurgeonID" required="true" name="surgeon">
                                            <option ng-repeat="surgeon in $ctrl.surgeons" value="{{surgeon.Surgeon__r.AccountId}}">{{surgeon.Surgeon__r.Name}}</option>
                                        </select>
                                    </div>
                                    <!-- / .select -->
                                    <div ng-messages="pageForm.surgeon.$error" ng-if="pageForm.surgeon.$invalid && pageForm.surgeon.$touched">
                                        <p class="help-block" ng-message="required"><i class="fa fa-exclamation-triangle"></i> Surgeon is required.</p>
                                    </div>
                                </div>
                                <!-- / .col-sm-8 -->
                            </div>
                            <!-- / .form-group -->
                            <div class="form-group" ng-class="{ 'has-error' : pageForm.ProcedureDateString.$invalid && pageForm.ProcedureDateString.$touched}">
                                <label for="new-case-procedure-date" class="col-sm-4 control-label  required">Procedure Date</label>
                                <div class="col-sm-8">
                                    <input type="text" name="ProcedureDateString" required="true" class="form-control" placeholder="MM/DD/YYYY" style="background-color:white; width:150px;height:38px;margin-left:-2px;"
                                        datetime-picker="MM/dd/yyyy" enable-time="false" ng-model="$ctrl.patientCase.ProcedureDateString"
                                        is-open="$ctrl.open.procDate" datepicker-options="dateOptions" ng-required="true" close-text="Close"
                                        ng-click="$ctrl.open($event,'procDate')" />
                                    <button type="button" class="btn btn-os" ng-click="$ctrl.open($event,'procDate')">
                <i class="glyphicon glyphicon-calendar"></i>
                </button>
                                    <div ng-messages="pageForm.ProcedureDateString.$error" ng-if="pageForm.ProcedureDateString.$invalid && pageForm.ProcedureDateString.$touched">
                                        <p class="help-block" ng-message="required">
                                            <i class="fa fa-exclamation-triangle"></i> Procedure Date is required.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="btn-group">

                                        <button type="button" class="btn btn-os btn-os-primary" ng-click="$ctrl.cancel()">
        <span>Cancel</span>
    </button>
                                        <button type="button" class="btn btn-os btn-os-primary" ng-disabled="pageForm.$invalid" ladda="$ctrl.loadingCase" ng-click="$ctrl.createCase(pageForm)">
        <span>Create Case</span>
    </button>

                                        <!--<button class = "btn btn-primary" ladda="true">Button</button>
  <button class = "btn btn-primary" ladda="{{$ctrl.loading1}}"  ng-click="$ctrl.clickButton1()">Button1</button>-->
                                        <!--<button class="btn btn-os btn-os-primary" ladda="$ctrl.loading2" ng-click="$ctrl.clickButton2()"><span>Create Another Case</span></button>-->

                                    </div>
                        </fieldset>
                        </div>
                        </div>
                        <!--<tt>{{$ctrl.patientCase}}</tt>
                        <tt>{{$ctrl.patient}}</tt>-->
            </form>
            </div>
            </div>


        </div>