<section>

    <div class="panel-panel-default">
        <div class="panel-body">
            <form action="">
                <fieldset>
                <div class="form-group">
                    <label for="">ID</label>
                    <input type="text" disabled 
                    ng-model= "vm.user.id"
                    class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Last Name</label>
                    <input type="text" 
                        ng-model= "$ctrl.user.lastName"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="">First Name</label>
                    <input type="text" 
                        ng-model= "user.firstName"
                        class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">labe1l</label>
                    <input type="text" class="form-control">
                </div>
                </fieldset>
            </form>
        </div>

        <div class="panel-footer">
            <div class="btn-group">
                <button class="btn btn-default">Save</button>
                <button class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
</section>