<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            PROM Compliance
            <span class="pull-right" ng-if="$ctrl.isHospital">                                    
                <select ng-options="surgeon.surgeonName for surgeon in $ctrl.surgeons"                                        
                    name="surgeon" ng-model="surgeon" value = "surgeon"
                    class="form-control input-sm" placeholder="Surgeon"
                    >                                    
                </select>
                </span>
            <span class="pull-right" ng-if="$ctrl.isHospital">                                    
                <select ng-options="practice.practiceName for practice in $ctrl.practices"                                        
                    name="practice" ng-model="practice" value = "practice"
                    class="form-control input-sm" placeholder="Practice"
                    >                                    
                </select>
                </span>
        </div>
    </div>
    <div class="panel-body">
        <div google-chart chart="$ctrl.chart"></div>
    </div>
</div>