<form name="sensorForm">
	<div class="row-title">
		<h4>Sensor</h4>
		<div class="input-group" style="width:500px" ng-show="$ctrl.sensorEntryType=='barcode'">
<span class="input-group-btn">
	<select ng-model="$ctrl.sensorEntryType" class="form-control" style="background-color:white;height:38px;margin-left:-2px;width:110px;z-index:0;margin-right:20px">
<option value="barcode">Barcode</option>
<option value="manual">Keyboard</option>
</select>
</span>
<input type="text" class="form-control" Placeholder="Barcode" style="height:38px;z-index:0" id="sensorCode" ng-model="$ctrl.sensorCode" ng-keypress="$ctrl.isEnterKeyPressedSensor($event)" />
<span class="input-group-btn">
	<button type="button" class="btn btn-os btn-os-primary ladda-button sensor-btn" data-style="zoom-in" data-spinner-color="DeepSkyBlue"
		style="margin-top:0px;z-index:0" ng-click="$ctrl.addSensor();">
<span>Add Sensor</span>
<i class="icon icon-c-add"></i>
</button>
</span>
</div>

<div ng-messages="sensorForm.serialNumber.$error" ng-if="$ctrl.sensorForm.submitted" class="input-group" style="width:180px">
<span class="help-block" style="color:#a94442" ng-message="required">
<i class="fa fa-exclamation-triangle"></i> SN is required.</span>
<span class="help-block" style="color:#a94442" ng-message="pattern">
<i class="fa fa-exclamation-triangle"></i> SN should be 9 characters.</span>
</div>

<div class="input-group" ng-show="$ctrl.sensorEntryType=='manual'">
	<div ng-include="'app/components/caseSensorInfo/caseSensorInfoKeyboard.component.html'"></div>
</div>

</div>
<!-- / .row-title -->
</form>
<os-case-sensor-items event="$ctrl.event"></os-case-sensor-items>