<div style="width:800px;">
    <span class="input-group-btn">
        <select ng-model="$ctrl.sensorEntryType" class="form-control" style="background-color:white;height:38px;margin-left:-2px;width:110px;z-index:0;margin-right:20px">
<option value="barcode">Barcode</option>
<option value="manual">Keyboard</option>
</select>
</span>
<input type="text" id="REF" ng-model="selectedRef.Name" placeholder="REF" style="height:38px;z-index:0" uib-typeahead="sensorRef as sensorRef.Name for sensorRef in $ctrl.sensorRefs | filter:{Name:$viewValue}" class="form-control"
typeahead-editable="false" typeahead-on-select="$ctrl.onSelectRef($item, $model, $label)" typeahead-show-hint="true" typeahead-min-length="1"
/>
<span class="input-group-btn" style="width:0px;"></span>
<div class="form-group" ng-class="{ 'has-error' : sensorForm.serialNumber.$invalid && sensorForm.submitted}">
    <input type="text" class="form-control" Placeholder="SN" style="height:38px;margin-left:-1px;z-index:0" id="serialNumber" name="serialNumber" ng-model="$ctrl.serialNumber" required="true" pattern=".{9,9}" />
</div>
<span class="input-group-btn" style="width:0px;"></span>
<input type="text" class="form-control" Placeholder="LOT #" style="height:38px;margin-left:-1px;z-index:0" id="slotNumber" ng-model="$ctrl.slotNumber" />
<span class="input-group-btn" style="width:0px;"></span>
<span class="input-group-btn">
    <select ng-model="$ctrl.smonth" class="form-control" style="background-color:white;height:38px;margin-left:-2px; width:110px;z-index:0" ng-options="currMonth.key as currMonth.value for currMonth in $ctrl.expMonths"></select>
</span>
<span class="input-group-btn">
    <select ng-model="syear" class="form-control" style="background-color:white;height:38px;margin-left:-2px;width:110px;z-index:0" ng-options="currYear.key as currYear.value for currYear in $ctrl.expYears"></select>
</span>
<span class="input-group-btn">
    <button type="button" class="btn btn-os btn-os-primary ladda-button sensor-btn" data-style="zoom-in" data-spinner-color="DeepSkyBlue"
        style="margin-top:0px;z-index:0" ng-click="$ctrl.addSensor();">
<span>Add Sensor</span>
<i class="icon icon-c-add"></i>
</button>
</span>
</div>