<div class="container-fluid content test">
    <section class="mainbar" style="margin-top:30px;">
<div class=" col-sm-12 col-sm-offset-0 ">
    <div class="row main-content ">
        <div class="col-sm-2 col-xs-12 ">
            <os-reports-sidebar></os-reports-sidebar>
        </div>
        <div class="col-sm-10 col-xs-12 ">
            <div ui-view class="slide "></div>
        </div>
    </div>
</div>
</section>
</div>