<div style="font-weight:bold;font-size:1.1em;">
    <label>Hospital</label> <span class="form-control-static strong" style="padding-right:8px;"> {{$ctrl.hospital}}</span>
    <label ng-show="practice!= ''">Practice </label> <span class="form-control-static"> {{$ctrl.practice}}</span>
    <a href="#" class="btn btn-link btn-sm" ng-click="$ctrl.openHospitalFilter();" >(Change)</a>
</div>