<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <span ng-show="$ctrl.isUserAdmin">{{$ctrl.title}}</span>
            <span ng-show="!$ctrl.isUserAdmin">{{$ctrl.title}} - {{$ctrl.practice.name}}</span>

        </div>
    </div>
    <div class="panel-body">
        {{$ctrl.chartType}}
        <div class="row">
            <div class="col-sm-3" ng-show="$ctrl.isUserAdmin">
                <label for="listHospitals">Hospital</label>
                <select id="listHospitals" ng-options="hospital.name for hospital in $ctrl.hospitals" name="hospital" ng-model="$ctrl.hospital"
                    value="hospitals" class="form-control input-sm" placeholder="Hospital" ng-change="$ctrl.setHospital(hospital.id)">
                </select>
            </div>

            <div class="col-sm-4" ng-show="$ctrl.showPracticeList()"> <label for="listPractices">Practice</label>
                <select id="listPractices" ng-options="practice.name for practice in $ctrl.practices | filter: {parentId: $ctrl.hospital.id}"
                    name="practice" ng-model="$ctrl.practice" value="practices" class="form-control input-sm" placeholder="Practice"
                    ng-change="$ctrl.getChart(practice.id)">
                </select>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-10" ng-show="$ctrl.showSurgeonList()">
                <label for="listSurgeons">Surgeons</label>
                <select id="listSurgeons" ng-options="surgeon.name for surgeon in $ctrl.surgeons | filter: {parentId: $ctrl.practice.id}"
                    name="surgeon" ng-model="$ctrl.surgeon" value="surgeon" ng-disabled="practice == 'All'" class="form-control input-sm"
                    placeholder="Surgeon" ng-change="$ctrl.getChart(surgeon)">
                </select>
            </div>
            <div class="col-sm-2" ng-show="$ctrl.isUserAdmin">
                <label for="listMonths">Months</label>
                <select id="listMonths" name="month" ng-model="$ctrl.monthsToChart" value="months" class="form-control input-sm" placeholder="months"
                    ng-change="$ctrl.getChart(surgeon)">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="1" 0>10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>

        </div>
        <!--<div google-chart chart="$ctrl.caseActivityChart" >-->
        <div class="row">
            <div class="col-sm-12">
                <nvd3 options="$ctrl.options" data="$ctrl.data" api="api" interactive="true" ui-sref="reports.phaseCountChart"></nvd3>
            </div>
        </div>
    </div>
    <!--<div class="panel-footer">
        <div class="row">
            <div class="col-sm-2">Pre-op:</div>
            <div class="col-sm-10">from data entry to actual procedure date,</div>
            <div class="col-sm-2">Post-op: </div>
            <div class="col-sm-10">from actual procedure date for 90 days,</div>
            <div class="col-sm-2">Long Term:</div>
            <div class="col-sm-10">90 days after appointment date</div>
        </div>

    </div>-->
</div>