<!-- PATIENT-DETAILS-CONTENT -->
<div id="patient-details-content" class="content">
	<!-- PATIENT-DETAILS-CONTENT -->
	<div class="">
		<div class="row">
			<div class="col-xs-12">
				<h2>{{case.Case_Type__r.Description__c}} - {{case.Laterality__c}}</h2>
				<div class="wizard-steps">
					<div ng-repeat="event in events" class="step" ng-class="{current: event.Status__c == 'Pending Completion', completed: event.Status__c == 'Complete', warning: event.Date_Status__c == 'Past' && event.Status__c != 'Complete' }">
						<div class="box" ng-click="switchEvent(event)">
							
							<span class="title" ng-show="event.Event_Type__r.Display_Name__c">{{event.Event_Type__r.Display_Name__c}}</span>
							<span class="title" ng-hide="event.Event_Type__r.Display_Name__c">{{event.Event_Type_Name__c}}</span>
							<!--span class="sub-title">Follow Up</span-->
							<i class="icon icon-c-checkmark" ng-show="event.Status__c == 'Complete'"></i>
						</div>
						<div class="date">{{event.Appointment_Start__c | date:'shortDate'}}</div>
					</div>
				</div>
				<!-- / .wizard-steps -->
			</div>
			<!-- / .col-xs-12 -->
		</div>
		<!-- / .row -->


		<div id="procedure" ng-show="event.Event_Type_Name__c == 'Procedure'">
			<!-- Procedure Header -->
			<div class="row">
				<div class="row-title">
					<h3>Procedure</h3>
					<div class="actions">
						<button type="button" class="btn btn-os btn-os-primary ladda-button" style="z-index:0" data-style="zoom-in" data-spinner-color="DodgerBlue"
							ng-click="completeEvent(event.Id)" ng-show="event.Status__c != 'Complete'">
                            <span>Complete Procedure</span> <i class="icon icon-checkmark"></i>
                        </button>
						<button type="button" class="btn btn-os btn-os-primary" style="z-index:0" ng-show="event.Status__c != 'Complete'" ng-click="editProcedure(event,case,clinicalData)">
                            <span>Edit</span> <i class="glyphicon glyphicon-pencil"></i>
                        </button>
					</div>
					<!-- / .actions -->
					<script>Ladda.bind('.actions button');</script>
				</div>
				<!-- / .row-title -->
			</div>
			<!-- / .row -->
			<!--<div ng-include="'app/components/procedureInfo/procedureInfo.component.html'"></div>-->
			<div class="row row-separator form-horizontal tight-vertically">
				<div class="col-sm-4">
					<div class="form-group">
						<label class="col-sm-4 control-label">Date of Surgery</label>
						<div class="col-sm-8 value">{{procedure.Appointment_Start__c | date:'shortDate'}}</div>
					</div>
					<!-- / .form-group -->
					<div class="form-group">
						<label class="col-sm-4 control-label">Surgeon</label>
						<div class="col-sm-8 value">{{procedure.Physician__r.Name}}</div>
					</div>
					<!-- / .form-group -->
				</div>
				<!-- / .col-sm-4 -->
				<div class="col-sm-4">
					<div class="form-group">
						<label class="col-sm-4 control-label">Procedure</label>
						<div class="col-sm-8 value">{{procedure.Case__r.Case_Type__r.Description__c}}</div>
					</div>
					<!-- / .form-group -->
					<div class="form-group">
						<label class="col-sm-4 control-label">Laterality</label>
						<div class="col-sm-8">
							<span class="value">{{clinicalData.Laterality__c}}</span>
						</div>
					</div>
					<!-- / .form-group -->
				</div>
				<!-- / .col-sm-4 -->
				<div class="col-sm-4">
					<div class="form-group">
						<label class="col-sm-4 control-label">Patient Consent</label>
						<div class="col-sm-8">
							<span class="value">{{clinicalData.Patient_Consent_Obtained__c?'Yes':'No'}}</span>
						</div>
					</div>
					<!-- / .form-group -->
					<div class="form-group">
						<label class="col-sm-4 control-label">Anesthesia</label>
						<div class="col-sm-8">
							<span class="value">{{clinicalData.Anesthesia_Type__c}}</span>
						</div>
					</div>
					<!-- / .form-group -->
				</div>
				<!-- / .col-sm-4 -->
			</div>
			<!-- / .row.row-separator -->
			<!-- Sensor Info -->
			<!--<div ng-include="'app/components/caseSensorInfo/caseSensorInfo.component.html'"></div>-->
			<div class="row row-separator">
				<form name="sensorForm">
					<div class="row-title">
						<h4>Sensor</h4>
						<div class="input-group" style="width:500px" ng-show="sensorEntryType=='barcode'">
							<span class="input-group-btn">
                                <select ng-model="sensorEntryType"  class="form-control" style="background-color:white;height:38px;margin-left:-2px;width:110px;z-index:0;margin-right:20px">
                                    <option value="barcode">Barcode</option>
                                    <option value="manual">Keyboard</option>
                                </select> 
                            </span>
							<input type="text" class="form-control" Placeholder="Barcode" style="height:38px;z-index:0" id="sensorCode" ng-model="sensorCode"
								ng-keypress="isEnterKeyPressedSensor($event)" />
							<span class="input-group-btn">
                                <button type="button" class="btn btn-os btn-os-primary ladda-button sensor-btn" data-style="zoom-in" 
								data-spinner-color="DeepSkyBlue" style="margin-top:0px;z-index:0" ng-click="addSensor();">
                                    <span>Add Sensor</span> <i class="icon icon-c-add"></i>
							</button>
							</span>
						</div>

						<div ng-messages="sensorForm.serialNumber.$error" ng-if="sensorForm.submitted" class="input-group" style="width:180px">
							<span class="help-block" style="color:#a94442" ng-message="required"><i class="fa fa-exclamation-triangle"></i> SN is required.</span>
							<span class="help-block" style="color:#a94442" ng-message="pattern"><i class="fa fa-exclamation-triangle"></i> SN should be 9 characters.</span>
						</div>

						<div class="input-group" style="width:900px" ng-show="sensorEntryType=='manual'">

							<span class="input-group-btn">
                                <select ng-model="sensorEntryType"  class="form-control" style="background-color:white;height:38px;margin-left:-2px;width:110px;z-index:0;margin-right:20px">
                                    <option value="barcode">Barcode</option>
                                    <option value="manual">Keyboard</option>
                                </select> 
                            </span>
							<input type="text" id="REF" ng-model="selectedRef.Name" placeholder="REF" style="height:38px;z-index:0" uib-typeahead="sensorRef as sensorRef.Name for sensorRef in sensorRefs | filter:{Name:$viewValue}"
								class="form-control" typeahead-editable="false" typeahead-on-select="onSelectRef($item, $model, $label)" typeahead-show-hint="true"
								typeahead-min-length="1" />
							<span class="input-group-btn" style="width:0px;"></span>
							<div class="form-group" ng-class="{ 'has-error' : sensorForm.serialNumber.$invalid && sensorForm.submitted}">
								<input type="text" class="form-control" Placeholder="SN" style="height:38px;margin-left:-1px;z-index:0" id="serialNumber"
									name="serialNumber" ng-model="serialNumber" required="true" pattern=".{9,9}" />
							</div>
							<span class="input-group-btn" style="width:0px;"></span>
							<input type="text" class="form-control" Placeholder="LOT #" style="height:38px;margin-left:-1px;z-index:0" id="slotNumber"
								ng-model="slotNumber" />
							<span class="input-group-btn" style="width:0px;"></span>
							<span class="input-group-btn">
                                <select ng-model="smonth"  class="form-control" style="background-color:white;height:38px;margin-left:-2px; width:110px;z-index:0" ng-options="currMonth.key as currMonth.value for currMonth in expMonths"></select>
                            </span>
							<span class="input-group-btn">
                                <select ng-model="syear"  class="form-control" style="background-color:white;height:38px;margin-left:-2px;width:110px;z-index:0" ng-options="currYear.key as currYear.value for currYear in expYears"></select> 
                            </span>
							<span class="input-group-btn">
                                <button type="button" class="btn btn-os btn-os-primary ladda-button sensor-btn" data-style="zoom-in" data-spinner-color="DeepSkyBlue" style="margin-top:0px;z-index:0" ng-click="addSensor();">
                                    <span>Add Sensor</span> <i class="icon icon-c-add"></i>
							</button>
							</span>
						</div>

					</div>
					<!-- / .row-title -->
				</form>
				<div class="col-xs-12">
					<table class="table table-os">
						<thead>
							<tr>
								<th>Device ID</th>
								<th>Manufacturer</th>
								<th>Lot #</th>
								<th>Model</th>
								<th>Expiration</th>
								<th>Year Assembled</th>
								<th class="action">Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="sensor in event.OS_Device_Events__r">
								<td>{{sensor.OS_Device__r.Device_ID__c}}</td>
								<td>{{sensor.OS_Device__r.Manufacturer_Name__c}}</td>
								<td>{{sensor.OS_Device__r.Lot_Number__c}}</td>
								<td>{{sensor.OS_Device__r.Style__c}}</td>
								<td>{{sensor.OS_Device__r.Expiration_Date__c | date: 'MM/yyyy'}}</td>
								<td>{{sensor.OS_Device__r.Year_Assembled__c}}</td>

								<td class="action">
									<button type="button" class="btn btn-os" ng-click="deleteSensor(sensor)">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- / .col-xs-12 -->
			</div>
			<!-- Implant Section -->
			<!--<div ng-include="'app/components/caseImplantInfo/caseImplantInfo.component.html'"></div>-->
			<!-- / .row.row-separator -->
			<div class="row row-separator">
				<div class="row-title">
					<h4>Implant</h4>

					<div class="input-group" style="width:800px;" ng-show="implantEntryType=='manual'">
						<span class="input-group-btn">
                        <select ng-model="implantEntryType"  class="form-control" style="background-color:white;height:38px;margin-left:-2px;width:110px;z-index:0;margin-right:20px">
                        	<option value="barcode">Barcode</option>
                            <option value="manual">Keyboard</option>
                        </select> 
                        </span>
						<input type="text" id="ProductNumber" ng-model="selectedProduct.Name" placeholder="Product Number" style="height:38px;z-index:0"
							uib-typeahead="product as product.Product_Number_and_Name__c for product in products | filter:{Name:$viewValue}" class="form-control"
							typeahead-editable="false" typeahead-on-select="onSelectProduct($item, $model, $label)" typeahead-show-hint="true"
							typeahead-min-length="1" />
						<span class="input-group-btn" style="width:0px;"></span>
						<input type="text" class="form-control" Placeholder="Lot #" style="height:38px;margin-left:-1px;z-index:0" id="lotNumber"
							ng-model="lotNumber" />
						<span class="input-group-btn" style="width:0px;"></span>
						<span class="input-group-btn">
                            <select ng-model="month"  class="form-control" style="background-color:white;height:38px;margin-left:-2px; width:110px;z-index:0" ng-options="currMonth.key as currMonth.value for currMonth in expMonths"></select>
                        </span>
						<span class="input-group-btn">
                            <select ng-model="year"  class="form-control" style="background-color:white;height:38px;margin-left:-2px;width:110px;z-index:0" ng-options="currYear.key as currYear.value for currYear in expYears"></select> 
                        </span>
						<span class="input-group-btn">
                            <button type="button" class="btn btn-os btn-os-primary ladda-button implant-btn" data-style="zoom-in" data-spinner-color="DeepSkyBlue" style="margin-top:0px;z-index:0" ng-click="checkAndSaveImplantBarcode();">
                                <span>Add Implant</span> <i class="icon icon-c-add"></i>
						</button>
						</span>
						<script>Ladda.bind('.input-group-btn button');</script>
					</div>

					<div class="input-group" style="width:800px;" ng-show="implantEntryType=='barcode'">
						<span class="input-group-btn">
                        <select ng-model="implantEntryType"  class="form-control" style="background-color:white;height:38px;margin-left:-2px;width:110px;z-index:0;margin-right:20px">
                        	<option value="barcode">Barcode</option>
                            <option value="manual">Keyboard</option>
                        </select> 
                        </span>
						<input type="text" class="form-control" Placeholder="First Barcode" style="height:38px;z-index:0" ng-model="firstbar" id="firstbar"
							ng-keypress="isEnterKeyPressed($event)" />
						<span class="input-group-btn" style="width:0px;"></span>
						<input type="text" class="form-control" Placeholder="Second Barcode" style="height:38px;margin-left:-1px;z-index:0" id="secondbar"
							ng-model="secondbar" ng-focus="checkAndSaveImplantBarcode()" />
						<span class="input-group-btn" style="width:0px;"></span>
						<span class="input-group-btn">
                            <select ng-model="month"  class="form-control" style="background-color:white;height:38px;margin-left:-2px; width:110px;z-index:0" ng-options="currMonth.key as currMonth.value for currMonth in expMonths"></select>
                        </span>
						<span class="input-group-btn">
                            <select ng-model="year"  class="form-control" style="background-color:white;height:38px;margin-left:-2px;width:110px;z-index:0" ng-options="currYear.key as currYear.value for currYear in expYears"></select> 
                        </span>
						<span class="input-group-btn">
                            <button type="button" class="btn btn-os btn-os-primary ladda-button implant-btn" data-style="zoom-in" data-spinner-color="DeepSkyBlue" style="margin-top:0px;z-index:0" ng-click="checkAndSaveImplantBarcode();">
                                <span>Add Implant</span> <i class="icon icon-c-add"></i>
						</button>
						</span>
						<script>Ladda.bind('.input-group-btn button');</script>
					</div>
				</div>
				<!-- / .row-title -->
				<div class="col-xs-12">
					<table class="table table-os">
						<thead>
							<tr>
								<th>Manufacturer</th>
								<th>Product #</th>
								<th>Product Name</th>
								<th>Lot #</th>
								<th>Expiration</th>
								<th>Status</th>
								<th class="action">Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="implant in event.Implant_Components__r">
								<td>{{implant.Manufacturer__c}}</td>
								<td>{{implant.Product_Catalog_Id__r.Name}}</td>
								<td>{{implant.Product_Catalog_Id__r.Product_Name__c}}</td>
								<td>{{implant.Lot_Number__c}}</td>
								<td>{{implant.Expiration_Date__c + 1 | date: 'MM/yyyy'}}</td>
								<td>
									<div class="select"><select>
                                    <option>{{implant.Status__c}}</option>
                                    </select></div>
								</td>
								<td class="action">
									<button type="button" class="btn btn-os" ng-click="deleteImplant(implant)">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- / .col-xs-12 -->
			</div>
			<!-- Notes Section -->
			<div class="row row-separator">
				<div class="row-title">
					<h4>Notes</h4>
					<button type="button" class="btn btn-os btn-os-primary" ng-click="addNewCaseNote(procedure.Id)">
                        <span>Add Note</span> <i class="icon icon-c-add"></i>
                    </button>
				</div>
				<!-- / .row-title -->
				<div class="col-xs-12">
					<div class="row row-separator" ng-repeat="note in event.Notes | orderBy: '-CreatedDate'">
						<div class="col-xs-12 flex">
							<div class="left" style="width:100%">
								<span class="date-stamp">{{note.CreatedDate | date: 'shortDate'}}: {{note.Title}}</span>
								<p>{{note.Body}}</p>
							</div>
							<div class="right">
								<button type="button" class="btn btn-os" ng-click="editNote(note)">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </button>
								<button type="button" class="btn btn-os" ng-click="deleteNote(note)">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
							</div>
						</div>
						<!-- / .col-xs-12 -->
					</div>
					<!-- / .row.row-separator -->
				</div>
				<!-- / .col-xs-12 -->
			</div>
			<!-- / .row.row-separator -->
			<!-- <os-case-notes procedure="$ctrl.event" notes="ctrl.event.notes"></os-case-notes>-->
			<!-- Device events and images -->
			<div ng-include="'app/caseDetails/caseInteroperativeData/caseInteroperativeData.component.html'"></div>
		</div>
		<div id="non-procedure" ng-show="event.Event_Type_Name__c != 'Procedure'">
			<div class="row">
				<div class="row-title">
					<h3>{{event.Event_Type_Name__c}}</h3>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="control-label">Date of Visit</label>
							<div class="value">{{event.Appointment_Start__c | date: 'shortDate'}}</div>
						</div>
						<!-- / .form-group -->
					</div>
					<div class="actions">
						<button type="button" class="btn btn-os btn-os-primary ladda-button" style="z-index:0" data-style="zoom-in" data-spinner-color="DodgerBlue"
							ng-click="completeEvent(event.Id)" ng-show="event.Status__c != 'Complete'">
                            <span>Complete Visit</span> <i class="icon icon-checkmark"></i>
                        </button>

						<button type="button" class="btn btn-os btn-os-primary ladda-button refresh-btn" style="z-index:0" data-style="zoom-in" data-spinner-color="DodgerBlue"
							ng-click="refreshEventsAndSurveys()">
                            <span>Refresh</span>
                        </button>
					</div>
					<!-- / .actions -->
					<script>Ladda.bind('.actions button');</script>
				</div>
				<!-- / .row-title -->
				<div class="col-xs-12">

				</div>
			</div>
		</div>
		<!-- / .row -->
		<!-- Take Survey -->
		<!--<div ng-include="'app/components/takeSurvey/takeSurvey.component.html'"></div>-->
		<os-survey-list event="event"></os-survey-list>
		<!-- / .row.row-separator -->
		<!--div class="row row-separator">
                <div class="row-title">
                    <h4>Documents</h4>
                    <button type="button" class="btn btn-os btn-os-primary">
                        <span>Upload Document</span> <i class="icon icon-add"></i>
                    </button>
                </div>-->
		<!--/ .row-title > -->
		<!--</div-->
		<div id="non-procedure" ng-show="event.Event_Type_Name__c != 'Procedure'">
			<!--<div ng-include="'app/components/outcome/outcome.component.html'"></div>-->
			<div class="row row-separator">

				<div class="row-title">
					<h3>Outcomes</h3>
					<div class="toggle-buttons">
						<select ng-model="renderedSurvey" class="form-control" ng-change="surveyChange(renderedSurvey)" style="background-color:white;  height:38px;margin-left:-2px;"
							ng-options="survey.Name__c as survey.Name__c for survey in surveys">
                            </select>

					</div>
				</div>
				<div class="row row-separator" ng-show="(toggleValue === 'chart') || (toggleValue === 'data' && surveyGraphable)">
					<div class="row-title">
						<h3></h3>
						<div class="toggle-buttons">
							<button type="button" ng-show="toggleValue === 'chart'" class="btn btn-os btn-os-primary" ng-click="toggleOutcomes(data)">
                            <span>View Data</span> <i class="glyphicon glyphicon-th-list"></i>
                        </button>
							<button type="button" ng-show="toggleValue === 'data' && surveyGraphable" class="btn btn-os btn-os-primary " ng-click="toggleOutcomes(chart) ">
                            <span>View Chart</span> <i class="glyphicon glyphicon-signal "></i>
                        </button>
						</div>
					</div>
				</div>
				<!-- / .row-title -->
				<!--<div class="col-xs-12">

	</div>-->
				<div class="col-xs-12 col-sm-10 col-sm-offset-1">
					<div class="toggle-view-container ">
						<div id="outcomes-chart" class="toggle-view chart " ng-show="toggleValue==='chart' ">
							<div class="row chart ">
								<div id="kss-chart" class="chart-svg "></div>
							</div>
						</div>
						<div id="outcomes-data " class="toggle-view chart " ng-show="toggleValue==='data' ">
							<div class="row ">
								<div class="col-xs-12 ">
									<br/><br/>
									<table class="table table-os ">
										<thead>
											<tr>
												<th style="font-size:14px">
													Question
												</th>
												<th style="font-size:14px" ng-repeat="category in chartCategories track by $index">
													{{category}}
												</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="items in chartData ">
												<td ng-repeat="item in items track by $index ">
													{{item}}
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- / .row.row-separator -->
	</div>
	<!-- / #patient-details-content -->
</div>