<!-- CASE-DETAILS-HEADER -->

<button class="btn btn-os navigation-action" ui-sref="patientList">
    <i class="glyphicon glyphicon-chevron-left"></i>
</button>

<!--<div class="patient-details">
    	<div ng-include="'app/components/patientDetailInfo/patientDetailBasicInfo.component.html'"></div>

</div>-->

<!--<style>
    #header #view-header .drawer.open {
        height: 60px;
    }
</style>-->
<os-patient-detail-info></os-patient-detail-info>
<!--
<div class="drawer" ng-class="{'open': patientDetailsVisible}">
    <div class="row">
        <div class="col-sm-11 col-sm-offset-1">
			<div class="row">
				<div ng-include="'app/components/patientDetailInfo/patientDetailInfo.component.html'"></div>
			</div>
		</div> 
    </div>
</div>-->
