<div class="row-title">
	<h4>Notes</h4> 
	<button type="button" class="btn btn-os btn-os-primary" ng-click="$ctrl.addNewCaseNote()">
		<span>Add Note</span>
		<i class="icon icon-c-add"></i>
	</button>
</div>

<div class="col-xs-12">
	<div class="row" >
		<div class="col-sm-10 col-sm-offset-1 col-xs-12" ng-repeat="note in $ctrl.notes | orderBy: '-CreatedDate' ">
			<os-case-note note="note"></os-case-note>
		</div>
	</div>
</div>