<div class="panel panel-default">
    <div class="panel-body">
        <span class="date-stamp">{{$ctrl.note.CreatedDate| date: 'shortDate'}}: {{$ctrl.note.Title}}</span>
        <p>{{$ctrl.note.Body}}</p>

        <div class="pull-right">
            <button type="button" class="btn btn-os" ng-click="$ctrl.editNote($ctrl.note)">
                <i class="glyphicon glyphicon-pencil"></i>
            </button>
            <button type="button" class="btn btn-os" ng-click="$ctrl.deleteNote($ctrl.note)">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </div>
    </div>
</div>
<!--<div class="left" style="width:100%">
				<span class="date-stamp">{{$ctrl.note.CreatedDate| date: 'shortDate'}}: {{$ctrl.note.Title}}</span>
				<p>{{$ctrl.note.Body}}</p>
			</div>
			<div class="right">
				<button type="button" class="btn btn-os" ng-click="$ctrl.editNote($ctrl.note)">
					<i class="glyphicon glyphicon-pencil"></i>
				</button>
				<button type="button" class="btn btn-os" ng-click="$ctrl.deleteNote($ctrl.note)">
					<i class="glyphicon glyphicon-remove"></i>
				</button>-->