<!-- PATIENT-DETAILS-CONTENT -->
<div id="patient-details-content" class="content">
    <div class="">

        <div class="row">
            <div class="row-title" ng-show="$ctrl.caseCount>0">
                <h3>Cases</h3>
                <button type="button" class="btn btn-os btn-os-primary" ng-click="$ctrl.addPatientCase(patient)">
                    <span>Add a Case</span> <i class="icon icon-c-add"></i>
                </button>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3" ng-show="$ctrl.caseCount==0">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">

                            <button type="button" class="btn btn-os btn-os-primary" ng-click="$ctrl.addPatientCase(patient)">
                    <span>Add a Case</span> <i class="icon icon-c-add"></i>
                </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12">
                <div class="row row-separator" ng-repeat="case in $ctrl.cases">
                    <div class="col-xs-12">
                        <h4>{{case.Case_Type__r.Description__c}} - {{case.Laterality__c}}</h4>

                        <div class="wizard-steps">

                            <div ng-repeat="event in case.Events__r" ng-click="$ctrl.caseDetails(case,event)" class="step" ng-class="{current: event.Status__c == 'Pending Completion', completed: event.Status__c == 'Complete', warning: event.Date_Status__c == 'Past' && event.Status__c != 'Complete' }">
                                <div class="box">
                                    <span class="title" ng-show="event.Event_Type__r.Display_Name__c">{{event.Event_Type__r.Display_Name__c}}</span>
                                    <span class="title" ng-hide="event.Event_Type__r.Display_Name__c">{{event.Event_Type_Name__c}}</span>
                                    <!--span class="sub-title">Follow Up</span-->
                                    <i class="icon icon-c-checkmark" ng-show="event.Status__c == 'Complete'"></i>
                                </div>
                                <div class="date">{{event.Appointment_Start__c | date: 'shortDate'}}</div>

                                <!-- this might be used if can expand the logic to confirm all surveys are complete -->
                                <!--<div class="date" ng-show="$ctrl.completeEvent(event)">Completed: {{event.Appointment_Start__c | date: 'shortDate'}}</div>-->
                            </div>

                        </div>
                        <!-- / .wizard-steps -->

                    </div>
                    <!-- / .col-xs-12 -->
                </div>
                <!-- / .row-.row-separator -->
            </div>

        </div>
        <!-- / .row.row-separator -->
    </div>
    <!-- / .container-fluid -->

    <div class="" ng-show="$ctrl.cases.length > 0">
        <div class="row row-separator">
            <div class="row-title">
                <h3>Outcomes</h3>
                <div class="toggle-buttons">
                    <select ng-model="$ctrl.renderedSurvey" class="form-control" ng-change="$ctrl.surveyChange($ctrl.renderedSurvey)" ng-options="survey.Name__c as survey.Name__c for survey in $ctrl.surveys">
                    </select>
                    <!-- <br/> -->
                </div>
            </div>
            <div class="row row-separator" ng-show="($ctrl.toggleValue === 'chart') || ($ctrl.toggleValue === 'data' && $ctrl.surveyGraphable)">
                <div class="row-title">
                    <h3></h3>
                    <div class="toggle-buttons">
                        <button type="button" ng-show="$ctrl.toggleValue === 'chart'" class="btn btn-os btn-os-primary" ng-click="$ctrl.toggleOutcomes(data)">
                        <span>View Data</span> <i class="glyphicon glyphicon-th-list"></i>
                    </button>
                        <button type="button" ng-show="$ctrl.toggleValue === 'data' && $ctrl.surveyGraphable" class="btn btn-os btn-os-primary" ng-click="$ctrl.toggleOutcomes(chart)">
                        <span>View Chart</span> <i class="glyphicon glyphicon-signal"></i>
                    </button>
                    </div>
                </div>
            </div>
            <!-- / .row-title -->
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <div class="toggle-view-container">

                    <div class="row row-separator chart">
                        <div ng-repeat="case in $ctrl.cases track by $index" style="margin-bottom:50px" ng-model="$ctrl.currentCase">

                            <h4>{{case.Case_Type__r.Description__c}} - {{case.Laterality__c}}</h4>
                            <div id="outcomes-chart" class="toggle-view chart" ng-show="$ctrl.toggleValue === 'chart'">
                                <div id="{{case.Id}}" class="chart-svg"></div>
                            </div>
                            <div id="outcomes-data" ng-show="$ctrl.toggleValue === 'data'" class="toggle-view">
                                <div class="row row-separator">
                                    <h4>{{$ctrl.renderedSurvey}}</h4>
                                    <div class="col-xs-12">
                                        <table class="table table-os">
                                            <thead>
                                                <tr>
                                                    <th style="font-size:14px">
                                                        Question
                                                    </th>
                                                    <th style="font-size:14px" ng-repeat="category in $ctrl.chartCategories track by $index">
                                                        {{category}}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="items in $ctrl.chartData">
                                                    <td ng-repeat="item in items track by $index">
                                                        {{item}}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / .toggle-view-container -->
            </div>
        </div>
        <!-- / .row.row-separator -->
    </div>
    <!-- / .container-fluid -->
</div>