<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <span ng-show="$ctrl.isUserAdmin">{{$ctrl.title}}</span>
            <span ng-show="!$ctrl.isUserAdmin">{{$ctrl.title}}</span>

        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            
            <div class="col-sm-3" ng-show="$ctrl.isUserAdmin"> <label for="listHospitals">Hospital</label>
                <select id="listHospitals" ng-options="hospital.name for hospital in $ctrl.hospitals" name="hospital" ng-model="$ctrl.hospital"
                    value="hospitals" class="form-control input-sm" placeholder="Hospital" ng-change="$ctrl.setHospital(hospital.id)">
                </select>
            </div>
            <div ng-class="$ctrl.practiceSelectClass" ng-show="$ctrl.showPracticeList()"> <label for="listPractices">Practice</label>
                <select id="listPractices" ng-options="practice.name for practice in $ctrl.practices | filter: {parentId: $ctrl.hospital.id}"
                    name="practice" ng-model="$ctrl.practice" value="practices" class="form-control input-sm" placeholder="Practice"
                    ng-change="$ctrl.getPracticeData()">
                </select>
            </div>
             <div class="col-sm-3" > 
                 <label for="listProm">PROM</label>
                <select id="listProm" ng-options="prom.name for prom in $ctrl.surveys" name="prom" ng-model="$ctrl.prom"
                    value="proms" class="form-control input-sm" placeholder="Prom" ng-change="$ctrl.setProm()">
                </select>
            </div>
            <div ng-class="$ctrl.surgeonSelectClass" ng-show="$ctrl.showSurgeonList()">
                <label for="listSurgeons">Surgeons</label>
                <select id="listSurgeons" ng-options="surgeon.name for surgeon in $ctrl.surgeons | filter: {parentId: $ctrl.practice.id}"
                    name="surgeon" ng-model="$ctrl.surgeon" value="surgeon" ng-disabled="practice == 'All'" class="form-control input-sm"
                    placeholder="Surgeon" ng-change="$ctrl.getSurgeonData()">
                </select>
            </div>
            <div class="col-md-1 col-sm-2 col-xs-3" ng-show="$ctrl.isUserAdmin">
                <label for="listMonths">Months</label>
                <select id="listMonths" name="month" ng-model="$ctrl.monthsToChart" value="months" class="form-control input-sm" placeholder="months"
                    ng-change="$ctrl.getChart(surgeon)">
                    <option>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4</option>
                    <option value=5>5</option>
                    <option value=6>6</option>
                    <option value=7>7</option>
                    <option value=8>8</option>
                    <option value=9>9</option>
                    <option value=10>10</option>
                    <option value=11>11</option>
                    <option value=12>12</option>
                </select>
            </div>

        </div>
  
        <div class="row">
            <nvd3 options="$ctrl.options" data="$ctrl.chartData" api="api" interactive="true" ui-sref="reports.promDeltaChart"></nvd3>
        </div>

    </div>
</div>
</div>