<div class="toggle-view-container ">
    <div id="outcomes-chart" class="toggle-view chart " ng-show="$ctrl.toggleValue==='chart' ">
        <div class="row chart ">
            <div id="kss-chart" class="chart-svg "></div>
        </div>
    </div>
    <div id="outcomes-data " class="toggle-view chart " ng-show="$ctrl.toggleValue==='data' ">
        <div class="row ">
            <div class="col-xs-12 ">
                <br/>
                <br/>
                <table class="table table-os ">
                    <thead>
                        <tr>
                            <th style="font-size:14px">Question</th>
                            <th style="font-size:14px" ng-repeat="category in $ctrl.chartCategories track by $index">{{category}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="items in $ctrl.chartData">
                            <td ng-repeat="item in items track by $index">{{item}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>