<section class="col-sm-10 col-sm-offset-1 col-xs-12">
    <div class="form">
        <hospital-detail-header></hospital-detail-header>
        <div class="col-sm-6">
            <practice-summary></practice-summary>
        </div>
        <div class="col-sm-6">
           <surgeon-summary></surgeon-summary>
        </div>
    </div>
</section>