<section>
    <div class="form">
        <fieldset>
            <legend>Hospital Detail</legend>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="">Hospital</label>
                    <input type="text" class="form-control" ng-model="vm.name"/>
                </div>
            </div>
            <div class="col-sm-6">

                <div class="form-group">
                    <label for="">Type</label>
                    <input type="text" class="form-control" id="hospitalId" ng-model="vm.id"/>
                    </div>
            </div>
        </fieldset>
        <div class="col-sm-6">
            <practice-summary></practice-summary>
        </div>
        <div class="col-sm-6">
           <surgeon-summary></surgeon-summary>
        </div>
    </div>
</section>